<template>
    <div>
        <!-- call header -->
        <notifications group="notif" position="top center" />
        <header-component v-if="ismounted" :user.sync="authUser"></header-component>
        <!-- end call header -->
        <!-- call body -->
        <div class="container container-with-margin mt-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-white pb-3">
                        <!-- <div class="row">
                            <main-menu-component></main-menu-component>
                        </div> -->
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="page-title"> Mes Paris </h2>
                                <div class="my-bets-buttons-filter">
                                    <b-button v-bind:class="[currentBetsBtn ? 'btn-blue' : 'btn-grey']"
                                        v-on:click="filterBets('currentBetsBtn')">Paris en cours</b-button>
                                    <b-button v-bind:class="[winBetsBtn ? 'btn-blue' : 'btn-grey']"
                                        v-on:click="filterBets('winBetsBtn')">Paris gagnants</b-button>
                                    <b-button v-bind:class="[lostBetsBtn ? 'btn-blue' : 'btn-grey']"
                                        v-on:click="filterBets('lostBetsBtn')">Paris perdus</b-button>
                                </div>
                                <div v-for="(bet, index) in betsToDisplay" v-bind:index="index" v-bind:bet="bet.id"
                                    :id="bet.id" v-bind:key="bet.id"
                                    v-bind:class="[index%2 == 0 ? 'grey-left-border row' : 'white-left-border row']">
                                    <div class="row col-12 col-sm-12 col-md-12 my-bet-container"
                                        v-for="(odd, secondIndex) in bet.odds" v-bind:secondIndex="secondIndex"
                                        v-bind:key="odd.id">
                                        <div class="game-time blu-text-color col-2 col-sm-2 col-md-2">
                                            <span>{{bet.created_at | date}}</span>
                                        </div>
                                        <div class="game-team blu-text-color col-3 col-sm-3 col-md-3">
                                            {{odd.prematch.home.name}}</div>
                                        <div style="width:5px !important;margin-top: 1%;">-</div>
                                        <div class="game-team blu-text-color col-3 col-sm-3 col-md-3">
                                            {{odd.prematch.away.name}}</div>
                                        <div class="game-team blu-text-color col-2 col-sm-2 col-md-2">TIP 1X2</div>
                                        <div class="modds col-2 col-sm-2 col-md-2">
                                            <div class="my-bet-modds-container">
                                                <div class="modds-name blu-text-color">{{odd.name}}</div>
                                                <div class="modds-value blu-text-color">{{odd.odds}}</div>
                                            </div>
                                            <!-- <div class="modds-container" v-for="(odd, oddIndex) in match.odds"
                                                v-bind:oddIndex="oddIndex" v-if="oddIndex < 3" v-bind:odd="odd"
                                                v-on:click="addDeleteOdd(match,odd)" v-bind:id="odd.id">
                                                <div class="modds-name">{{odd.name}}</div>
                                                <div class="modds-value">{{odd.odds}}</div>
                                            </div> -->
                                            <!-- <input class="bet" type="button" :value="odd.odds"> -->
                                        </div>
                                    </div>
                                    <div class="cash-out-btn-container" v-if="currentBetsBtn && bet.odds[0].prematch.live">
                                        <b-button variant="warning cash-out-btn" :id="'cash-out-'+bet.id"
                                            v-on:click="cashOutBets(bet.id)">Cash
                                            Out</b-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end call body -->
        </div>
        <!-- call footer -->
        <footer-component></footer-component>
        <!-- end call footer -->
    </div>
</template>
<script>
    export default {
        mounted() {
            if (localStorage.getItem('user')) {
                let authUser = localStorage.getItem('user');
                this.authUser = JSON.parse(authUser);
            }
            //initiate selectedOddsInCart
            if (localStorage.getItem("selectedOdds")) {
                this.selectedOddsOnLocalStorage = localStorage.getItem('selectedOdds');
                this.selectedOddsOnLocalStorage = this.selectedOddsOnLocalStorage.trim();
                this.selectedOddsOnLocalStorage = JSON.parse(this.selectedOddsOnLocalStorage);
                this.selectedOddsInCart = this.selectedOddsOnLocalStorage;
            } else {
                this.selectedOddsInCart = [];
            }
            //initiate teamParlay
            if (localStorage.getItem("teamParlay")) {
                this.teamParlayOnLocalStorage = localStorage.getItem('teamParlay');
                this.teamParlayOnLocalStorage = this.teamParlayOnLocalStorage.trim();
                this.teamParlayOnLocalStorage = JSON.parse(this.teamParlayOnLocalStorage);
                this.teamParlay = this.teamParlayOnLocalStorage;
            } else {
                this.teamParlay = [];
            }
            //
            this.ismounted = true;
            this.getMyBets();
        },
        data() {
            return {
                loading: true,
                authUser: this.authUser,
                ismounted: false,
                myBets: [],
                betsToDisplay: [],
                selectedOddsInCart: this.selectedOddsInCart,
                teamParlay: this.teamParlay,
                currentBetsBtn: true,
                winBetsBtn: false,
                lostBetsBtn: false
            };
        },
        created() {},
        methods: {
            getMyBets() {
                var vm = this;
                vm.loading = true;
                let page_url = '/api/v1/bets/' + vm.authUser.id;
                axios.get(page_url, {})
                    .then(function (response) {
                        vm.myBets = response.data.data;
                        vm.betsToDisplay = vm.myBets.filter((bet) => bet.status == null);
                        vm.loading = false;
                    })
                    .catch(function (error) {
                        vm.loading = false;
                    });

            },
            filterBets(btnType) {

                let vm = this;

                switch (btnType) {
                    case 'currentBetsBtn':
                        vm.betsToDisplay = vm.myBets.filter((bet) => bet.status == null);
                        vm.currentBetsBtn = true;
                        vm.winBetsBtn = false;
                        vm.lostBetsBtn = false;
                        break;
                    case 'winBetsBtn':
                        vm.betsToDisplay = vm.myBets.filter((bet) => bet.status == true);
                        vm.currentBetsBtn = false;
                        vm.winBetsBtn = true;
                        vm.lostBetsBtn = false;
                        break;
                    case 'lostBetsBtn':
                        vm.betsToDisplay = vm.myBets.filter((bet) => bet.status == false);
                        vm.currentBetsBtn = false;
                        vm.winBetsBtn = false;
                        vm.lostBetsBtn = true;
                        break;
                }
            },
            cashOutBets(betId) {
                var vm = this;

                vm.loading = true;

                let data = {
                    betId: betId
                };

                let page_url = '/api/v1/cash-out/';

                axios.post(page_url, data, {})
                    .then(function (response) {
                        let cashed_out_bet = response.data;

                        let bet_index = vm.betsToDisplay.findIndex(bet => bet.id == betId);
                        //
                        if (bet_index > -1) {
                            vm.betsToDisplay.splice(bet_index, 1);
                        }
                        vm.$notify({
                            group: 'notif',
                            type: 'success',
                            title: "retrait d'argent",
                            text: "Votre demande de retrait d'argent est effectué avec success",
                            duration: 10000,
                            speed: 1000
                        })
                    })
                    .catch(function (error) {
                        vm.loading = false;
                        let cashOutBtn = $("#cash-out-" + betId);
                        cashOutBtn.prop('disabled', true);
                        //
                        vm.$notify({
                            group: 'notif',
                            type: 'warn',
                            title: "retrait d'argent",
                            text: "le Cash Out n'est plus disponible pour ce paris",
                            duration: 10000,
                            speed: 1000
                        })
                    });
            }
        }
    }

</script>
