<template>
    <div>
        <!-- call header -->
        <header-component v-if="ismounted" :user.sync="authUser"></header-component>
        <!-- end call header -->
        <!-- call body -->
        <div class="container container-with-margin mt-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="padding-to-10 bg-white pb-3">
                        <!-- <div class="row">
                            <main-menu-component></main-menu-component>
                        </div> -->
                        <div class="row">
                            <div class="col-1 col-sm-1 col-md-1">
                            </div>
                            <h3 class="col-10 col-sm-10 col-md-10">
                                Mon Profile:
                            </h3>
                            <div class="col-1 col-sm-1 col-md-1">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1 col-sm-1 col-md-1">
                            </div>
                            <b-form class="col-10 col-sm-10 col-md-10">
                                <b-form-group id="input-group-1" label="Nom:" label-for="">
                                    <b-form-input type="text" v-model="nom" id="nom" required></b-form-input>
                                </b-form-group>

                                <b-form-group id="input-group-2" label="Prenom:" label-for="">
                                    <b-form-input type="text" v-model="prenom" id="prenom" required></b-form-input>
                                </b-form-group>

                                <b-form-group id="input-group-3" label="Email:" label-for="">
                                    <b-form-input type="email" v-model="email" id="email"></b-form-input>
                                </b-form-group>

                                <!-- <b-form-group id="input-group-4" label="Telephone:" label-for="">
                                    <b-form-input type="tel" v-model="telephone" id="telephone"></b-form-input>
                                </b-form-group> -->

                                <b-form-group id="input-group-5" label="Login:" label-for="">
                                    <b-form-input type="text" v-model="login" id="subject" disabled></b-form-input>
                                </b-form-group>

                                <b-form-group id="input-group-6" label="Mot de passe:" label-for="">
                                    <b-form-input type="password" v-model="password" id="subject" disabled>
                                    </b-form-input>
                                </b-form-group>

                                <b-button v-on:click="submit" class="btn btn-primary">Modiffier</b-button>
                            </b-form>
                            <div class="col-1 col-sm-1 col-md-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end call body -->
        </div>
        <!-- call footer -->
        <footer-component></footer-component>
        <!-- end call footer -->
    </div>
</template>

<script>
    export default {
        mounted() {
            //initiate the authUser passed to the app
            let authUser = localStorage.getItem('user');
            this.authUser = JSON.parse(authUser);
            this.initUserFields();
            this.ismounted = true;
        },
        data() {
            return {
                loading: true,
                ismounted: false,
                authUser: this.authUser,
                nom: null,
                prenom: null,
                // telephone: null,
                email: null,
                login: null,
                password: '00000'
            };
        },
        watch: {
            'user': function (newUser, oldUser) {},
        },
        methods: {
            initUserFields() {
                let vm = this;

                vm.nom = vm.authUser.last_name;
                vm.prenom = vm.authUser.first_name;
                vm.email = vm.authUser.email;
                vm.login = vm.authUser.username;
            },
            submit() {

                let vm = this;

                let data = {
                    email: vm.email,
                    first_name: vm.prenom,
                    last_name: vm.nom,
                    user_id: vm.authUser.id
                };

                axios.post('/api/v1/clients/updateClient', data)
                    .then(function (response) {
                        vm.email = response.data.data.data.email;
                        vm.prenom = response.data.data.data.first_name;
                        vm.nom = response.data.data.data.last_name;
                        //
                        localStorage.setItem ('user', JSON.stringify(response.data.data.data));
                    })
                    .catch(function (error) {});


            },
        }
    }

</script>
