<template>
    <div>
        <!-- call header -->
        <header-component v-if="ismounted" :user.sync="authUser"></header-component>
        <!-- end call header -->
        <!-- call body -->
        <div class="container container-with-margin mt-3">
            <div class="row">
                <div class="col-md-12">
                    <div class=" bg-white pb-3">
                        <div class="row">
                            <main-menu-component></main-menu-component>
                        </div>
                        <div class="row">
                            <div class="col-2 col-sm-2 col-md-2">
                            </div>
                            <div class="col-5 col-sm-5 col-md-5">
                                <b-form-group id="" label="Email:" label-for="">
                                    <b-form-input class="form-control" v-model="email" type="text" placeholder="email"
                                        aria-label="email">
                                    </b-form-input>
                                </b-form-group>
                                <b-form-group id="" label="Password:" label-for="">
                                    <b-form-input class="form-control" v-model="password" type="password"
                                        placeholder="password" aria-label="password">
                                    </b-form-input>
                                </b-form-group>
                                <b-form-group id="" label="Confirmation Password:" label-for="">
                                    <b-form-input class="form-control" v-model="passwordConfirm" type="password"
                                        placeholder="confirm password" aria-label="confirm password">
                                    </b-form-input>
                                </b-form-group>
                                <b-form-group>
                                    <b-button v-on:click="resetPassword()" class="login-container"
                                        variant="outline-primary">Envoyer</b-button>
                                </b-form-group>
                            </div>
                            <div class="col-2 col-sm-2 col-md-2">
                            </div>
                            <div class="col-md-3 pl-md-0">
                                <selected-odds-cart-component :selectedOddsInCart="selectedOddsInCart"
                                    :teamParlay.sync="teamParlay">
                                </selected-odds-cart-component>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end call body -->
        </div>
        <!-- call footer -->
        <footer-component></footer-component>
        <!-- end call footer -->
    </div>
</template>
<script>
    export default {
        props: ['token'],
        mounted() {
            //initiate the authUser passed to the app
            let authUser = localStorage.getItem('user');
            this.authUser = JSON.parse(authUser);
            this.ismounted = true;

            if (localStorage.getItem('searchResults')) {
                let search = localStorage.getItem('searchResults');
                this.searchResults = JSON.parse(search);
            } else {
                this.searchResults = null
            }

            //initiate selectedOddsInCart
            if (localStorage.getItem("selectedOdds")) {
                this.selectedOddsOnLocalStorage = localStorage.getItem('selectedOdds');
                this.selectedOddsOnLocalStorage = this.selectedOddsOnLocalStorage.trim();
                this.selectedOddsOnLocalStorage = JSON.parse(this.selectedOddsOnLocalStorage);
                this.selectedOddsInCart = this.selectedOddsOnLocalStorage;
            } else {
                this.selectedOddsInCart = [];
            }
            //initiate teamParlay
            if (localStorage.getItem("teamParlay")) {
                this.teamParlayOnLocalStorage = localStorage.getItem('teamParlay');
                this.teamParlayOnLocalStorage = this.teamParlayOnLocalStorage.trim();
                this.teamParlayOnLocalStorage = JSON.parse(this.teamParlayOnLocalStorage);
                this.teamParlay = this.teamParlayOnLocalStorage;
            } else {
                this.teamParlay = [];
            }
        },
        data() {
            return {
                loading: true,
                authUser: this.authUser,
                ismounted: false,
                selectedOddsInCart: this.selectedOddsInCart,
                teamParlay: this.teamParlay,
                password: null,
                passwordConfirm: null,
                email: null
            };
        },
        methods: {
            resetPassword() {
                var vm = this;

                let data = {
                    email: vm.email,
                    password: vm.password,
                    passwordConfirmation: vm.passwordConfirm,
                    token: vm.token
                };

                axios.post('/api/v1/reset', data, {})
                    .then(function (response) {
                        let res = response.data.data;
                    })
                    .catch(function (error) {});
            }
        }
    }

</script>
