@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 12px;
	background-image: url('../images/basic/bg.png');

	background-image: 
    -webkit-image-set(
      "../images/basic/bg.png" 1x,
      "../images/hd/bg.png" 2x,
    );
  	background-image: 
    image-set(
      "../images/basic/bg.png" 1x,
      "../images/hd/bg.png" 2x,
    );

	background-size: cover;
  	background-position: center center;
  	background-repeat: no-repeat;

  	min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body > .container{
	flex-grow: 1;
    position: relative;
}

footer{
	background-color: #0c234b;
	color: #fff;
	font-size: 12px;
	line-height: 1.8;
    min-height: 300px;
}
footer .first{
	border-right: 2px solid #999;
}
footer .last{
    position: absolute;
    right: 0;
}
footer .last img{
	max-width: 420px;
	position: absolute;
    top: -139px;
    right: 0px
}
ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

textarea{
	border-radius: 0px !important;
}
input[type="email"],
input[type="text"]{
	border-radius: 0px;
}
input[type="email"],
input[type="text"]{
    padding: 3px 3px;
}
textarea:focus,
textarea:hover,
textarea:active,
input:focus,
input:hover,
input:active{
	outline: none !important;
	border-color: #ababab !important;
    box-shadow: none !important;
}



.navbar .paris{
	color: #f0f2f7;
	font-size: 12px;
	text-transform: uppercase;
}
.navbar .paris label{
	background: #f0f2f7;
	padding: 2.5px 7px;
	border-radius: 50%;
	color: #000;
}

.btn{
	font-size: 12px;
}
.btn-primary {
    color: #fff;
    background-color: #0b2046;
    border-radius: 0px;
    border-color: #0b2046;
}
.btn:not(:disabled):not(.disabled).active:focus, 
.btn:not(:disabled):not(.disabled):active:focus, 
.show>.btn.dropdown-toggle:focus,
.btn.focus, .btn:focus{
	box-shadow:	none !important;
}

.navbar{
	background: transparent;
	padding: 0px;
}
.navbar.menu{
	border-bottom: 1px solid #f0f2f7;
	box-shadow: 0px 15px 15px -9px #f0f2f7;	
}


.navbar .nav-item a {
	padding: 15px 15px !important;
	color: #b9bed1;
	text-transform: uppercase;
	font-size: 10px;
}
.navbar .nav-item:not(:last-child){
	border-right: 1px solid #f0f2f7;
}
.navbar .nav-item a:hover,
.navbar .nav-item.active a {
	background: #0b2046;
	color: #fff;
}
.navbar-toggler{
	background-color: #0b2046;
    border: 0px;
    border-radius: 0px;
}
.navbar-toggler-icon{
	color: #fff;
}
.navbar input.search{
    border: none !important;
    border-radius: 0px;
    border-left: 1px solid #f0f2f7 !important;
    padding: 13px 10px 13px 40px;
    font-size: 12px;
}
.required-filed{
	font-size: 12px;
}
.nav-pills .nav-link{
	background: #656769;
	color: #fff;
	border-radius: 0px;
    padding: 15px 28px;
}

.nav-pills .nav-link:hover,
.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link{
	background: #10316d;
}
.nav-pills .nav-item:not(:last-child){
	margin-right: 5px;
}
.login-container input[type="text"],
.login-container .btn-primary{
	padding: 5px 10px 5px 10px;
	border: 2px solid #e3e8f0;
	-webkit-border-top-right-radius: 30px 30px;
	-webkit-border-bottom-right-radius: 30px 30px;
	-webkit-border-top-left-radius: 30px 30px;
	-webkit-border-bottom-left-radius: 30px 30px;
	text-align: center;
}

.login-container input[type="text"]:focus,
.login-container input[type="text"]:hover,
.login-container input[type="text"]:active{
	border: 2px solid #e3e8f0 !important;
    outline: none;
    box-shadow: none;
}
.login-container .btn{
	text-transform: uppercase;
}

.contact label{
	font-weight: 700
}

.btn.register{
	background: #e60d3e;
}
.mp-forget{
	font-size: 10px;
    color: #a4aabd;
}
.mp-forget:hover{
    color: #fff;
}
.bottom-nav{
	background-color: #e60d3e;
	padding: 2rem 0px;
}
.bottom-nav ul li{
	display: inline-block;
}
.bottom-nav ul li a{
	color: #fff;
	text-decoration: none;
	padding: 0px 10px;
	border-right: 1px solid	#fff;
}
.bottom-nav ul li:last-child a{
	border-right: 0px;
}
.card{
	background: #f1f3f5;
	border:	0px;
}
.card.b-left{
	border-left: 1px solid	#a19b97;
	border-bottom: 1px solid #a19b97;
}
.card.b-right{
	border-right: 1px solid	#a19b97;
	border-bottom: 1px solid #a19b97;
}

.card,
.card-header:first-child{
	border-radius: 0px;
}
.card-header{
	font-size: 12px;
    padding: 10px 20px;
}
.bg-dark{
	background-color: #f1f3f5;
}
.bg-blue{
	background-color: #0b2046;
}
.card-body{
	padding: 0px;
}
.uBets{
    width: 100%;
    display: inline-block;
}
.uBets .event-info:nth-child(even) {background: #FFF}
.uBets .event-info:nth-child(odd) {background: #f1f3f5}
.uBets .event-info {
    padding: 10px;
    float: left;
    width: 100%;
    display: table;
}
.uBets .event-info .team-info{
    font-size: 11px;
}
.uBets .event-info .close-bet{
    vertical-align: middle;
    display: table-cell;
    text-align: right;
    width: 10%;
}
.uBets .event-info .bet-comb{
	float: left;
	width: 100%;
    font-size: 10px;
    font-weight: 700;
} 
.betSlipInfo{
    display: inline-block;
    width: 100%;
}
.betSlipInfo .info-row{
    clear: both;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}
.betSlipInfo .info-row:not(:last-child){
	padding-bottom: 5px;
}
.bmatch{
	border-bottom: 1px solid #c6c6c6;
    clear: both;
    float: left;
    height: auto;
    line-height: 26px;
    width: 100%;
}
.sportsMenu > li .stitle{
	padding: 10px 20px;
	cursor: pointer;
}

.sportsMenu > li ul li:not(:last-child),
.sportsMenu > li:not(:last-child){
    border-bottom: 1px #abb5c4 solid;
}
.sportsMenu > li ul li{
	background-color: #0b2046;
	padding: 5px 20px;
	color: #fff;
	cursor: pointer;
	font-size: 10px;
}
.avatar{
	border-radius: 50%;
    overflow: hidden;
    margin: auto;
    border: 2px solid whitesmoke;
}
.user-nav .nav-link{
	color: #fff;
	font-weight: 700
}
.user-nav .nav-link span{
	color: #048ade;
}
.user-nav .dropdown-toggle::after{
	content:none
}

form.profile .card{
	background: #f5f5f5; 
	border: 2px solid #cacaca;
}
form.profile .card label{
	font-weight: 700
}

@media (max-width: 767px){
	footer .first{
		border-right: 0px;
	}
	.card.b-right,
	.card.b-left{
		border: 0px;	
	}
}

@media (max-width: 991px){
	footer .last{
		position: relative;
		display: none;
	}
}

/* added by amine */
.btn-blue-bg-color{
	background-color: #10316d !important;
}

.btn-red-bg-color{
	background-color: #f33d54 !important;
}

.btn-rounded-grey-border{
	border-radius: 10px;
	border-color: #e3e8f0 !important;
	border: 5px;
}

