<template>
    <div class="other-odds-block col-12 col-sm-12 col-md-12">
        <div v-for="category in selectedMatch.otherOdds" class="sub_category_block">
            <div class="col-12 col-sm-12 col-md-12 sub_category_heading">
                <h5>{{category.name}}</h5>
            </div>
            <div class="col-12 col-sm-12 col-md-12 sub_category_odds" v-for="sub_category in category.sub_categorie"
                v-if="sub_category.odds && sub_category.odds.length > 0">
                <div class="row other-odds-line" v-for="odd in sub_category.odds">
                    <div class="col-7 col-sm-7 col-md-7">
                        <span>{{sub_category.name | ReplaceUnderscore}}</span>
                        <span>{{odd.header ? ' : ' + odd.header : ''}}</span>
                    </div>
                    <div :class="'modds-container col-5 col-sm-5 col-md-5 '+odd.id" v-on:click="addDeleteOdd(odd)"
                        v-bind:id="odd.id">
                        <div class="modds-name">
                            {{odd.name ? odd.name : odd.handicap}}</div>
                        <div class="modds-value">{{odd.odds}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import mixin from '../../filters/mixin'
    export default {
        mixins: [mixin],
        mounted() {
            this.appendMatchAllOdsBlock(this.selectedMatch);
            if (localStorage.getItem("selectedOdds")) {
                this.selectedOddsOnLocalStorage = localStorage.getItem('selectedOdds');
                this.selectedOddsOnLocalStorage = this.selectedOddsOnLocalStorage.trim();
                this.selectedOddsOnLocalStorage = JSON.parse(this.selectedOddsOnLocalStorage);
                this.selectedOdds = this.selectedOddsOnLocalStorage;
            } else {
                this.selectedOdds = [];
            }

        },
        props: ['selectedMatch', 'selectedOddsInCart', 'teamParlay', 'live'],
        data() {
            return {
                loading: true,
                selectedOdds: this.selectedOdds
            };
        },
        created() {},
        methods: {
            appendMatchAllOdsBlock(selectedMatch) {
                var vm = this;
                if (vm.live) {
                    $('#live-match-all-odds').insertAfter($('.list-item-live-' + selectedMatch.league.sport_id +
                        ':last'));
                    //$('#live-match-all-odds-'+ matchId).css('display','block');;
                } else {
                    $('#match-all-odds').insertAfter($('#' + selectedMatch.id));
                    //$('#match-all-odds').css('display','block');;
                }

                //delete empty categories
                $(".sub_category_block").each(function (index) {
                    if ($(this).children().last().hasClass('sub_category_heading')) {
                        $(this).remove();
                    }
                });

                //change the css class for selected odds block
                for (let index = 0; index < vm.selectedOddsInCart.length; index++) {
                    let oddId = vm.selectedOddsInCart[index].id;
                    $("." + oddId).each(function (index) {
                        $(this).addClass("selectedOdd");
                    });
                }

            },
            addDeleteOdd(odd) {

                var vm = this;

                let found = vm.selectedOdds.some(theOdd => theOdd.id === odd.id);

                if (!found) {
                    odd.homeTeam = vm.selectedMatch.home.name;
                    odd.awayTeam = vm.selectedMatch.away.name;
                    vm.selectedOdds.push(odd);
                    //
                    $("." + odd.id).each(function (index) {
                        $(this).addClass("selectedOdd");
                        //$(this).children(":first").addClass("selectedOdd");
                    });
                    // oddBlock.addClass("selectedOdd");
                    // console.log('oddBlock.children(":first")',oddBlock.children(":first"));
                    // oddBlock.children(":first").addClass("selectedOdd");
                } else {
                    var index = vm.selectedOdds.length;

                    while (index--) {
                        if (vm.selectedOdds[index].id === odd.id) {
                            vm.selectedOdds.splice(index, 1);
                        }
                    }
                    //
                    $("." + odd.id).each(function (index) {
                        $(this).removeClass("selectedOdd");
                        //$(this).children(":first").removeClass("selectedOdd");
                    });
                    // var oddBlock = $("#" + odd.id);
                    // oddBlock.removeClass("selectedOdd");
                    // oddBlock.children(":first").removeClass("selectedOdd");
                }
                //vm.$parent.$emit('selectedOddsInCart', vm.selectedOdds);
                localStorage.setItem('selectedOdds', JSON.stringify(vm.selectedOdds));
                vm.sendSelectedOddsToCountryGamesComponent();
                //
                vm.updateCart();

            },
            updateCart() {
                var vm = this;
                let teamParlayResult = vm.updateCartTotal(vm.selectedOdds);
                vm.sendTeamParlayToCountryGamesComponent(teamParlayResult);
                localStorage.setItem('teamParlay', JSON.stringify(vm.teamParlay));
            },
            sendSelectedOddsToCountryGamesComponent() {
                this.$emit('selectedOddsInCartBack', this
                    .selectedOdds); // handle data and give it back to parent by interface
            },
            sendTeamParlayToCountryGamesComponent(teamParlayResult) {
                this.$emit('teamParlayBack', teamParlayResult); // handle data and give it back to parent by interface
            }
        }
    }

</script>
