<template>
    <b-modal :id="'modal-'+index" hide-footer>
        <template v-slot:modal-title>
            Combinaison de {{index+2}}
        </template>
        <div class="d-block text-center">
            <div v-for="(option, i) in parlay" v-bind:i="i"
                v-bind:class="[i%2 == 0 ? 'grey-bg row' : 'white-bg row', ]">
                <div style="width:50%;text-align:left">
                    {{option.game}}
                </div>
                <div style="width:50%;text-align:right">
                    <span>{{option.value}}</span>
                    <span>x</span>
                    <span>{{userInput}} = </span>
                    <span>{{(option.value * userInput).toFixed(2)}}</span>
                </div>
            </div>
        </div>
    </b-modal>
</template>
<script>
    export default {
        props: ['parlay', 'index', 'combinaisonbetvalue'],
        mounted() {
            this.getCombinaisonBetValue();
        },
        data() {
            return {
                userInput: 0
            }
        },
        watch: {
            'combinaisonbetvalue': function () {
                this.getCombinaisonBetValue();
            }
        },
        methods: {
            getCombinaisonBetValue() {
                let inputValue = $("#" + this.index + "combinaisonbetvalue");
                this.userInput = inputValue.val();
            }
        }
    }
</script>