<template>
    <div>
        <!-- call header -->
        <header-component v-if="ismounted" :user.sync="authUser"></header-component>
        <!-- end call header -->
        <!-- call body -->
        <div class="container container-with-margin mt-3">
            <div class="row">
                <div class="col-md-12">
                    <div class=" bg-white pb-3">
                        <div class="row">
                            <main-menu-component></main-menu-component>
                        </div>
                        <div class="row">
                            <div class="col-9 col-sm-9 col-md-9">
                                <div v-if="searchResults" class="search-result-container">
                                    <h4>Resultat de recherche</h4>
                                    <div v-if="searchResults.length > 0">
                                        <div v-for="(game, ind) in searchResults" v-bind:ind="ind" v-bind:game="game"
                                            :id="game.id" v-bind:key="game.id"
                                            v-bind:class="[ind%2 == 0 ? 'grey-bg row' : 'white-bg row', ]"
                                            v-if="game.live">
                                            <div class="game-time col-2 col-sm-2 col-md-2">
                                                <span>{{game.live_time}}</span>
                                            </div>
                                            <div class="game-team col-4 col-sm-4 col-md-4">{{game.home.name}}</div>
                                            <div class="game-team col-2 col-sm-2 col-md-2">{{game.ss}}</div>
                                            <div class="game-team col-3 col-sm-3 col-md-3">
                                                {{game.away.name}}
                                            </div>
                                            <div class="col-1 col-sm-1 col-md-1 link-to-live-game">
                                                <i class="material-icons" style="margin-top: 5px;">
                                                    <router-link class="nav-link" :to="{ name: 'live-bets-component'}">
                                                        double_arrow
                                                    </router-link>
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-if="searchResults.length == 0">
                                        <p>Aucun resultats...</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 pl-md-0">
                                <selected-odds-cart-component :selectedOddsInCart="selectedOddsInCart"
                                    :teamParlay.sync="teamParlay">
                                </selected-odds-cart-component>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end call body -->
        </div>
        <!-- call footer -->
        <footer-component></footer-component>
        <!-- end call footer -->
    </div>
</template>
<script>
    export default {
        mounted() {
            //initiate the authUser passed to the app
            let authUser = localStorage.getItem('user');
            this.authUser = JSON.parse(authUser);
            this.ismounted = true;

            if (localStorage.getItem('searchResults')) {
                let search = localStorage.getItem('searchResults');
                this.searchResults = JSON.parse(search);
            } else {
                this.searchResults = null
            }

            //initiate selectedOddsInCart
            if (localStorage.getItem("selectedOdds")) {
                this.selectedOddsOnLocalStorage = localStorage.getItem('selectedOdds');
                this.selectedOddsOnLocalStorage = this.selectedOddsOnLocalStorage.trim();
                this.selectedOddsOnLocalStorage = JSON.parse(this.selectedOddsOnLocalStorage);
                this.selectedOddsInCart = this.selectedOddsOnLocalStorage;
            } else {
                this.selectedOddsInCart = [];
            }
            //initiate teamParlay
            if (localStorage.getItem("teamParlay")) {
                this.teamParlayOnLocalStorage = localStorage.getItem('teamParlay');
                this.teamParlayOnLocalStorage = this.teamParlayOnLocalStorage.trim();
                this.teamParlayOnLocalStorage = JSON.parse(this.teamParlayOnLocalStorage);
                this.teamParlay = this.teamParlayOnLocalStorage;
            } else {
                this.teamParlay = [];
            }

        },
        data() {
            return {
                loading: true,
                searchResults: this.searchResults,
                authUser: this.authUser,
                ismounted: false,
                selectedOddsInCart: this.selectedOddsInCart,
                teamParlay: this.teamParlay
            };
        },
        methods: {}
    }

</script>
