<template>
    <div class="card b-left">
        <notifications group="notif" position="top center" />
        <h5 class="card-header text-white custom-bg-dark">Paris Sportif</h5>
        <div class="card-body">
            <ul v-bind:class="[(selectedOddsInCart && selectedOddsInCart.length > 3) ? 'scrollbar uBets margin-bottom-10' : 'uBets margin-bottom-10']"
                v-bind:id="(selectedOddsInCart && selectedOddsInCart.length > 3) ? 'style-1' : ''">
                <div v-bind:class="[(selectedOddsInCart && selectedOddsInCart.length > 3) ? 'force-overflow' : '']">
                    <li class="event-info" v-if="selectedOddsInCart" :id="'selected-odd-id-'+odd.id"
                        v-for="odd in selectedOddsInCart">
                        <div class="team-info">{{odd.homeTeam}} - {{odd.awayTeam}}
                            <div class="bet-comb">
                                <div class="float-left">
                                    <span>{{odd.name ? odd.name : odd.handicap}}</span>
                                </div>
                                <div class="float-right">
                                    <span>{{odd.odds}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="close-bet" v-on:click="deleteOdd(odd)">
                            <i class="close-bet-icon material-icons">
                                close
                            </i>
                        </div>
                    </li>
                </div>
            </ul>
            <b-button class="delete-all-odds-btn btn mx-auto d-block mt-1 mb-5" v-on:click="deleteAllSelectedOdds">
                <div class="delete-all-odds-icon">
                    <i class="btn-icon material-icons">
                        delete_outline
                    </i>
                </div>
                <div class="delete-all-odds-text">Effacer tous les paris</div>
            </b-button>
            <ul class="betSlipInfo" v-if="teamParlay">
                <!-- <li class="info-row">
                    <span class="float-left">Nombre de événement</span>
                    <span class="float-right">{{selectedOddsInCart.length}}</span>
                </li> -->
                <li class="info-row">
                    <div class="width-100">
                        <span class="float-left width-50">Enjeu total</span>
                        <span class="float-right half-width-text-right">{{teamsNbr}} Equipes</span>
                    </div>
                    <div v-if="teamParlay.length > 0">
                        <span v-if="teamParlay[teamParlay.length-1].length > 1"
                            class="float-left padding-5 half-width-text-right">
                            {{teamParlay[teamParlay.length-1].length}} x
                        </span>
                        <input :id="teamParlay.length-1 + 'combinaisonbetvalue'" class="float-right width-50"
                            v-on:input="calculateAmountToPay(teamParlay.length-1)" number />
                    </div>
                </li>
                <div v-if="teamParlay.length > 1">
                    <li class="info-row" v-for="(parlay,index) in teamParlay.slice(0, -1)">
                        <div class="width-100 font-size-smaller">
                            <span class="float-left combinaison-text">Combinaisons de {{index+2}}</span>
                            <span class="float-right combinaison-options">
                                <b-button class="combinaison-options-btn" v-b-modal="'modal-' + index">Voir Options
                                </b-button>
                            </span>
                        </div>
                        <div v-if="parlay.length > 0">
                            <span class="float-left half-width-text-right padding-5">{{parlay.length}}
                                x
                            </span>
                            <input :id="index + 'combinaisonbetvalue'" class="float-right width-50 combinaisonbetvalue"
                                v-on:input="calculateAmountToPay(index)" number />
                        </div>
                        <parlay-options-display-component :parlay="parlay" :index="index"
                            :combinaisonbetvalue.sync="combinaisonbetvalue"></parlay-options-display-component>
                    </li>
                </div>
                <li class="info-row">
                    <span class="float-left">Gain maximal</span>
                    <span class="float-right">{{maximumWin}}</span>
                </li>
                <li class="info-row">
                    <span class="float-left">Paiement</span>
                    <span class="float-right">{{playingAmount}}</span>
                </li>
            </ul>
            <div class="mt-5 mb-3 accept">
                <!-- <b-form-checkbox id="checkbox-1" v-model="acceptBetChange" name="bet-change" value="true"
                    unchecked-value="false" class="custom-checkbox">
                    Accepter changement de quotas
                </b-form-checkbox> -->
                J'accepte les changements de quotas
            </div>
            <div class="width-100 center-element">
                <button class="btn sub_category_heading my-3" v-on:click="submitOdds">Transmettre
                    le
                    Pari</button>
            </div>
        </div>
    </div>
</template>
<script>
    import mixin from '../../filters/mixin'
    export default {
        mixins: [mixin],
        mounted() {
            if (localStorage.getItem('user')) {
                let authUser = localStorage.getItem('user');
                this.authUser = JSON.parse(authUser);
            }

        },
        props: ['selectedOddsInCart', 'teamParlay', 'playedAmount'],
        data() {
            return {
                loading: true,
                selectedOddsNbr: 0,
                playingAmount: 0,
                maxCoefficient: 0,
                maximumWin: 0,
                teamsNbr: 0,
                combinaisonbetvalue: 0,
                acceptBetChange: false
            };
        },
        created() {},
        watch: {
            'teamParlay': function () {
                this.teamsNbr = this.getTeamsNbr(this.selectedOddsInCart);
                this.calculateAmountToPay(null);
            }
        },
        methods: {
            deleteOdd(odd) {

                var vm = this;

                let found = vm.selectedOddsInCart.some(theOdd => theOdd.id === odd.id);

                if (found) {
                    var index = vm.selectedOddsInCart.length;

                    while (index--) {
                        if (vm.selectedOddsInCart[index].id === odd.id) {
                            vm.selectedOddsInCart.splice(index, 1);
                        }
                    }

                    // var oddBlock = $("#" + odd.id);
                    // oddBlock.removeClass("selectedOdd");
                    // oddBlock.children(":first").removeClass("selectedOdd");
                    $("." + odd.id).each(function (index) {
                        $(this).removeClass("selectedOdd");
                        $(this).children(":first").removeClass("selectedOdd");
                    });
                }
                vm.$parent.$emit('update:selectedOddsInCart', vm.selectedOddsInCart);
                localStorage.setItem('selectedOdds', JSON.stringify(vm.selectedOddsInCart));
                vm.updateCart();
                //vm.sendSelectedOddsToCountryGamesComponent();
            },
            updateCart() {
                var vm = this;
                let teamParlayResult = vm.updateCartTotal(vm.selectedOddsInCart);
                vm.$emit('update:teamParlay', teamParlayResult);
                localStorage.setItem('teamParlay', JSON.stringify(teamParlayResult));
            },
            calculateAmountToPay(index) {

                var vm = this;

                vm.playingAmount = 0;

                if (index != null) {
                    vm.combinaisonbetvalue = $("#" + index + "combinaisonbetvalue").val();
                }

                for (let i = 0; i < vm.teamParlay.length; i++) {

                    let combinaisonNbr = vm.teamParlay[i].length;

                    let inputValue = $("#" + i + "combinaisonbetvalue");
                    let userInput = inputValue.val();

                    vm.teamParlay[i].userInput = userInput;

                    vm.teamParlay[i].amountToPay = combinaisonNbr * userInput;

                    if (vm.teamParlay[i].amountToPay) {
                        vm.playingAmount += vm.teamParlay[i].amountToPay;
                        vm.calculateParlayWin(vm.teamParlay[i]);
                    }

                }

                vm.calculateMaxGain();
            },
            calculateMaxGain() {

                var vm = this;

                vm.maximumWin = 0;

                for (let i = 0; i < vm.teamParlay.length; i++) {
                    if (vm.teamParlay[i].maxGain) {
                        vm.maximumWin += vm.teamParlay[i].maxGain;
                    }
                }

                vm.maximumWin = vm.maximumWin.toFixed(2);
            },
            calculateParlayWin(parlay) {

                var vm = this;

                parlay.maxGain = 0;

                for (let index = 0; index < parlay.length; index++) {
                    parlay[index].userInput = parlay.userInput;
                    parlay.maxGain += parlay[index].value * parlay.userInput;
                }
            },
            deleteAllSelectedOdds() {
                var vm = this;

                var length = vm.selectedOddsInCart.length;

                for (let index = 0; index < vm.selectedOddsInCart.length; index++) {
                    $("." + vm.selectedOddsInCart[index].id).each(function (index) {
                        $(this).removeClass("selectedOdd");
                        $(this).children(":first").removeClass("selectedOdd");
                    });
                }

                vm.selectedOddsInCart.splice(0, length);

                vm.$emit('update:teamParlay', []);
                localStorage.setItem('teamParlay', []);
                vm.$emit('update:selectedOddsInCart', []);
                localStorage.setItem('selectedOdds', []);
            },
            submitOdds() {

                var vm = this;

                if (vm.authUser && vm.authUser.id && vm.authUser.money > vm.playingAmount && vm
                    .playingAmount > 0) {

                    for (let index = 0; index < vm.teamParlay.length; index++) {
                        if (!vm.teamParlay[index].userInput) {
                            vm.teamParlay.splice(index, 1);
                        }
                    }

                    let data = {
                        teamParlay: vm.teamParlay,
                        userId: vm.authUser.id,
                        playingAmount: vm.playingAmount
                    };
                    
                    axios.post('/api/v1/submitBet', data, {})
                        .then(function (response) {
                            vm.success = true;
                            vm.deleteAllSelectedOdds();
                            //update user money
                            vm.$emit('update:playedAmount', vm.playingAmount);
                            //
                            vm.$notify({
                                group: 'notif',
                                type: 'success ',
                                title: 'Bet soumis',
                                text: 'Votre Paris est soumis avec success',
                                duration: 10000,
                                speed: 1000
                            });

                        })
                        .catch(function (error) {
                            vm.output = error;
                            if (error.response) {
                                vm.$notify({
                                    group: 'notif',
                                    type: 'warn',
                                    title: 'Error de soumission de paris',
                                    text: error.response.data.message,
                                    duration: 10000,
                                    speed: 1000
                                });
                                //highlight the error
                                switch (error.response.data.message) {
                                    case 'Selected odds value changed':
                                        let element = $('#selected-odd-id-' + error.response.data.data.id);

                                        element.css({
                                            "border": "1px solid red"
                                        }).delay(5000).queue(function (next) {
                                            $(this).css({
                                                "border": "unset"
                                            });
                                            next();
                                        });
                                        break;
                                }
                            }

                        });

                } else {
                    if (!vm.authUser) {
                        vm.$notify({
                            group: 'notif',
                            type: 'warn',
                            title: 'Soumissions du paris impossible',
                            text: 'Veuillez vous connecter pour pouvoir ajouter votre paris',
                            duration: 10000,
                            speed: 1000
                        });
                    } else if (vm.authUser.money < vm.playingAmount) {
                        vm.$notify({
                            group: 'notif',
                            type: 'warn',
                            title: 'Soumissions du paris impossible',
                            text: 'Veuillez ajouter du solde a votre compte',
                            duration: 10000,
                            speed: 1000
                        });
                    } else if (vm.playingAmount == 0) {
                        vm.$notify({
                            group: 'notif',
                            type: 'warn',
                            title: 'Soumissions du paris impossible',
                            text: 'Veuillez selectioner un montant pour la mise de paris',
                            duration: 10000,
                            speed: 1000
                        });
                    }
                }

            },
        }
    }

</script>
