<template>
    <router-view></router-view>
</template>
<script>
    export default {
        props : ['user'],
        mounted() {
            let authUser = this.user;
            //
            localStorage.setItem('user', JSON.stringify(authUser));
            //
            if(authUser){
                this.$session.start();
            }
            
        },
    }
</script>