<template>
    <div>
        <!-- call header -->
        <header-component v-if="ismounted" :user.sync="authUser"></header-component>
        <!-- end call header -->
        <!-- call body -->
        <div class="container container-with-margin mt-3">
            <div class="row">
                <div class="col-md-12">
                    <div class=" bg-white pb-3">
                        <div class="row">
                            <main-menu-component></main-menu-component>
                        </div>
                        <div class="row">
                            <div class="col-1 col-sm-1 col-md-1">
                            </div>
                            <h3 class="padding-top-20 col-10 col-sm-10 col-md-10">
                                Contactez-Nous:
                            </h3>
                            <div class="col-1 col-sm-1 col-md-1">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1 col-sm-1 col-md-1">
                            </div>
                            <b-form class="col-10 col-sm-10 col-md-10">
                                <b-form-group id="input-group-1" label="Nom:" label-for="">
                                    <b-form-input type="text" v-model="nom" id="nom" required></b-form-input>
                                </b-form-group>

                                <b-form-group id="input-group-2" label="Prénom:" label-for="">
                                    <b-form-input type="text" v-model="prenom" id="prenom" required></b-form-input>
                                </b-form-group>

                                <b-form-group id="input-group-3" label="Email:" label-for="">
                                    <b-form-input type="email" v-model="email" id="email"></b-form-input>
                                </b-form-group>

                                <b-form-group id="input-group-4" label="Téléphone:" label-for="">
                                    <b-form-input type="tel" v-model="telephone" id="telephone"></b-form-input>
                                </b-form-group>

                                <b-form-group id="input-group-5" label="Sujet:" label-for="">
                                    <b-form-input type="text" v-model="subject" id="subject" required></b-form-input>
                                </b-form-group>

                                <b-form-group id="input-group-6" label="Message:" label-for="">
                                    <b-form-textarea class="form-control" v-model="message" id="message" rows="5"
                                        required></b-form-textarea>
                                </b-form-group>

                                <b-button v-on:click="submit" class="btn btn-primary">Envoyer</b-button>
                            </b-form>
                            <div class="col-1 col-sm-1 col-md-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end call body -->
        </div>
        <!-- call footer -->
        <footer-component></footer-component>
        <!-- end call footer -->
    </div>
</template>

<script>
    export default {
        mounted() {
            //initiate the authUser passed to the app
            let authUser = localStorage.getItem('user');
            this.authUser = JSON.parse(authUser);

            this.ismounted = true;
        },
        data() {
            return {
                loading: true,
                ismounted: false,
                authUser: this.authUser,
                nom: null,
                prenom: null,
                telephone: null,
                email: null,
                subject: null,
                message: null
            };
        },
        watch: {
            'user': function (newUser, oldUser) {},
        },
        methods: {
            submit() {

                let vm = this;

                if (vm.nom && vm.prenom && vm.subject && vm.message) {

                    let data = {
                        email: vm.email,
                        firstName: vm.nom,
                        lastName: vm.prenom,
                        telephone: vm.telephone,
                        subject: vm.subject,
                        message: vm.message
                    };

                    axios.post('/api/v1/SendMail ', data)
                        .then(function (response) {

                        })
                        .catch(function (error) {

                        });
                } else {

                }

            },
        }
    }

</script>
