<template>
    <footer>
        <div class="bottom-nav">
            <div class="container footer-links">
                <ul>
                    <li>
                        <router-link @click.native="updateRoute" class="footer-link"
                            :to="{ name: 'terms-and-condition-component'}">
                            Termes et conditions
                        </router-link>
                    <li>
                        <router-link @click.native="updateRoute" class="footer-link"
                            :to="{ name: 'condition-utilisation-component'}">
                            Conditions d'utilisation
                        </router-link>
                    </li>
                    <li>
                        <router-link @click.native="updateRoute" class="footer-link"
                            :to="{ name: 'reglements-component'}">
                            Réglement
                        </router-link>
                    </li>
                    <li>
                        <router-link @click.native="updateRoute" class="footer-link"
                            :to="{ name: 'responsable-game-component'}">
                            Jeu Responsable
                        </router-link>
                    </li>
                    <li>
                        <router-link @click.native="updateRoute" class="footer-link" :to="{ name: 'privacy-component'}">
                            Privacy
                        </router-link>
                    </li>
                    <li>
                        <router-link @click.native="updateRoute" class="footer-link"
                            :to="{ name: 'about-us-component'}">
                            Qui nous sommes
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container py-4">
            <div class="footer-blocks">
                <div class="footer-block">
                    <a href="" title=""><img class="sponsors-logos" src="../../assets/images/basic/logo.png"></a>
                    <p class="font-size-smaller mt-3 mb-0">Placez de paris surs, aux prélévements garantis qui sont
                        sujets à des
                        vérifications indépendantes conformes aux plus hauts des standards européens.</p>
                    <div class="sponsors-logo-container">
                        <img class="" src="../../assets/images/basic/card-logo.png" />
                    </div>
                </div>
                <div class="footer-block">
                    <span class="text-center d-block bold-font">Nos Sponsors</span>
                    <div class="sponsors-logo-container">
                        <img class="sponsors-logos" src="../../assets/images/basic/sponsors.png" />
                    </div>
                    <div class="sponsors-logo-container bold-font">
                        Copyright 2020 Leagua - All rights reserved
                    </div>
                </div>
                <div class="footer-block">
                    <img class="footer-last-img" src="../../assets/images/basic/footer.png" />
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        mounted() {
            this.updateRoute();
        },
        methods: {
            updateRoute() {
                var vm = this;

                let routeName = vm.$router.currentRoute.name;

                if(routeName != 'home-page-component' && routeName != 'home-page-component' && routeName != 'home-page-component'){
                    $(".nav-item").removeClass("active");

                }
            },
        }
    }

</script>
