<template>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand mt-3" href="/"><img src="../../assets/images/basic/logo.png"
                    srcset="../../assets/images/hd/logo.png 2x"></a>
            <div class="row" v-if="user">
                <b-nav pills class="customnavbar">
                    <b-nav-item><img class="profile-pic" :src="'/back/uploads/avatar.png'">
                    </b-nav-item>
                    <b-nav-item-dropdown id="my-nav-dropdown" toggle-class="nav-link-custom" right>
                        <template slot="button-content">
                            <span>Bonjour, {{user.username}} !</span>
                            <br>
                            <span style="color:#048ade">Votre solde est {{user.money}}</span>
                        </template>
                        <b-dropdown-item class="dropdown-item">
                            <!-- <i class="material-icons dropdown-item-icon">
                                attach_money
                            </i> -->
                            <div class="dropdown-item-title">Mon Compte - {{user.money}}$</div>
                        </b-dropdown-item>
                        <b-dropdown-item class="dropdown-item">
                            <i class="material-icons dropdown-item-icon">
                                shopping_cart
                            </i>
                            <div class="dropdown-item-title">
                                <router-link :to="{ name: 'my-bets-component'}">
                                    Mes Paris
                                </router-link>
                            </div>
                        </b-dropdown-item>
                        <b-dropdown-item class="dropdown-item">
                            <i class="material-icons dropdown-item-icon">
                                person
                            </i>
                            <div class="dropdown-item-title">
                                <router-link :to="{ name: 'my-profile-component'}">
                                    Mon Profil
                                </router-link>
                            </div>
                        </b-dropdown-item>
                        <!-- <b-dropdown-item class="dropdown-item">
                            <i class="material-icons dropdown-item-icon">
                                history
                            </i>
                            <div class="dropdown-item-title">Historique</div>
                        </b-dropdown-item> -->
                        <b-dropdown-item class="dropdown-item" v-on:click="userLogOut">
                            <i class="material-icons dropdown-item-icon">
                                power_settings_new
                            </i>
                            <div class="dropdown-item-title">Deconnexion</div>
                        </b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-nav>
            </div>
            <div class="login-container mt-4">
                <div class="row" v-if="!user">
                    <div class="col-0 col-sm-2 col-md-2">
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 five-px-padding-right">
                        <input type="text" placeholder="Identifiant" name="identifiant" v-model="identifiant">
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 five-px-padding-left">
                        <input type="password" placeholder="Mot de passe" name="password" v-model="password">
                        <router-link class="white-color d-table text-right w-100 mp-forget"
                            :to="{ name: 'forgot-password-component'}">
                            Mot de passe oubliée ?
                        </router-link>
                    </div>
                    <div class="col-4 col-sm-2 col-md-2 five-px-padding-left">
                        <button class="login-btn btn btn-primary btn-rounded-grey-border btn-blue-bg-color"
                            v-on:click="userLogin">Login</button>
                    </div>
                </div>
                <!-- <div class="row" v-if="user">
                    <div class="paris col-9 col-sm-9 col-md-9" style="text-align:right;">
                        Mes PARI <label>{{user.money}}</label>
                    </div>
                    <div class="col-3 col-sm-3 col-md-3">
                        <button class="btn btn-primary register" v-on:click="userLogOut">Deconnexion</button>
                    </div>
                </div> -->
            </div>

        </div>
    </nav>
</template>
<script>
    export default {
        props: ['user'],
        mounted() {
            window.axios.defaults.headers.common = {
                'X-Requested-With': 'XMLHttpRequest',
            };
        },
        data() {
            return {
                identifiant: null,
                password: null
            };
        },
        methods: {
            userLogin() {

                var vm = this;

                let data = {
                    email: this.identifiant,
                    password: this.password
                };

                axios.post('/backstage/login', data, {})
                    .then(function (response) {
                        vm.$router.go();
                    })
                    .catch(function (error) {
                        vm.$notify({
                            group: 'notif',
                            type: 'warn',
                            title: 'Login ou mot de passe incorrect',
                            text: "Veuillez verifier les codes d'acces ",
                            duration: 10000,
                            speed: 1000
                        });
                    });
            },
            userLogOut() {

                var vm = this;

                axios.post('/backstage/logout ', {})
                    .then(function (response) {
                        localStorage.removeItem('user');
                        vm.$session.destroy();
                        if (vm.$router.currentRoute.name != 'home-page-component') {
                            vm.$router.push({
                                name: "home-page-component"
                            });
                        } else {
                            vm.$router.go();
                        }

                    })
                    .catch(function (error) {});
            },
            updateBGColor() {
                let bgColor = $('#my-nav-dropdown').children().css("background-color");
            }
        }
    }

</script>
