<template>
    <div>
        <!-- call header -->
        <header-component v-if="ismounted" :user.sync="authUser"></header-component>
        <!-- end call header -->
        <!-- call body -->
        <div class="container container-with-margin mt-3">
            <div class="row">
                <div class="col-md-12">
                    <div class=" bg-white pb-3">
                        <div class="row">
                            <main-menu-component></main-menu-component>
                        </div>
                        <div class="row">
                            <sport-list-component :selectedCountry.sync="selectedCountry" :authUser="authUser">
                            </sport-list-component>
                            <country-games-list-component :selectedCountry.sync="selectedCountry" :authUser="authUser"
                                :selectedOddsInCart="selectedOddsInCart" :teamParlay="teamParlay"
                                @selectedOddsInCartBackToHomePage="receiveSelectedOddsFromCountryGamesListComponent"
                                @teamParlayBackToHomePage="receiveTeamParlayFromCountryGamesListComponent">
                            </country-games-list-component>
                            <div class="col-md-3 pl-md-0">
                                <selected-odds-cart-component :selectedOddsInCart="selectedOddsInCart"
                                    :teamParlay.sync="teamParlay" :playedAmount.sync="playedAmount">
                                </selected-odds-cart-component>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end call body -->
        </div>
        <!-- call footer -->
        <footer-component></footer-component>
        <!-- end call footer -->
    </div>
</template>

<script>
    export default {
        mounted() {
            //initiate the authUser passed to the app
            let authUser = localStorage.getItem('user');
            this.authUser = JSON.parse(authUser);
            //initiate selectedOddsInCart
            if (localStorage.getItem("selectedOdds")) {
                this.selectedOddsOnLocalStorage = localStorage.getItem('selectedOdds');
                this.selectedOddsOnLocalStorage = this.selectedOddsOnLocalStorage.trim();
                this.selectedOddsOnLocalStorage = JSON.parse(this.selectedOddsOnLocalStorage);
                this.selectedOddsInCart = this.selectedOddsOnLocalStorage;
            } else {
                this.selectedOddsInCart = [];
            }
            //initiate teamParlay
            if (localStorage.getItem("teamParlay")) {
                this.teamParlayOnLocalStorage = localStorage.getItem('teamParlay');
                this.teamParlayOnLocalStorage = this.teamParlayOnLocalStorage.trim();
                this.teamParlayOnLocalStorage = JSON.parse(this.teamParlayOnLocalStorage);
                this.teamParlay = this.teamParlayOnLocalStorage;
            } else {
                this.teamParlay = [];
            }

            $('#match-all-odds').hide();

            this.ismounted = true;
        },
        data() {
            return {
                selectedCountry: [],
                selectedOddsInCart: this.selectedOddsInCart,
                teamParlay: this.teamParlay,
                loading: true,
                ismounted: false,
                authUser: this.authUser,
                playedAmount: 0
            };
        },
        watch: {
            'user': function (newUser, oldUser) {},
            'playedAmount': function (newPlayedAmount, oldPlayedAmount) {
                console.log('herrrrrr');
                this.authUser.money = this.authUser.money - newPlayedAmount;
            }
        },
        methods: {
            receiveSelectedOddsFromCountryGamesListComponent(selectedOddsInCart) {
                this.selectedOddsInCart = selectedOddsInCart;
            },
            receiveTeamParlayFromCountryGamesListComponent(teamParlay) {
                this.teamParlay = teamParlay;
            }
        }
    }

</script>
