<template>
    <div>
        <!-- call header -->
        <header-component v-if="ismounted" :user.sync="authUser"></header-component>
        <!-- end call header -->
        <!-- call body -->
        <div class="container container-with-margin mt-3">
            <div class="row">
                <div class="col-md-12">
                    <div class=" bg-white pb-3">
                        <div class="row">
                            <main-menu-component></main-menu-component>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-9">
                                <div class="row">
                                    <div class="col-1 col-sm-1 col-md-1"></div>
                                    <div class="live-buttons col-3 col-sm-3 col-md-3">
                                        <md-button class="live-btn" v-on:click="filterLiveGames('playing')">LIVE
                                        </md-button>
                                    </div>
                                    <div class="live-buttons col-3 col-sm-3 col-md-3">
                                        <md-button class="soon-btn" v-on:click="filterLiveGames('soon')">BIENTOT
                                        </md-button>
                                    </div>
                                    <div class="live-buttons col-3 col-sm-3 col-md-3">
                                        <md-button class="favoris-btn" v-on:click="filterLiveGames('favoris')">FAVORIS
                                        </md-button>
                                    </div>
                                    <div class="col-1 col-sm-1 col-md-1"></div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-12 col-md-12">
                                        <b-card no-body style="clear:both;" class="mb-1" v-for="sport in sports"
                                            v-if="sport.status" v-bind:key="sport.id">
                                            <b-card-header v-on:click="showHeader(sport.id)" header-tag="header"
                                                class="p-1 live-sport-header" role="tab">
                                                <div class="live-sports-tab-image" v-switch="sport.name">
                                                    <img v-case="'Soccer'" src="../../assets/images/basic/Soccer.png"
                                                        width="100" height="35">
                                                    <img v-case="'Ice Hockey'"
                                                        src="../../assets/images/basic/Ice-hockey.png" width="100"
                                                        height="35">
                                                    <img v-case="'Baseball'"
                                                        src="../../assets/images/basic/Baseball.png" width="100"
                                                        height="35">
                                                    <img v-case="'Handball'"
                                                        src="../../assets/images/basic/Handball.png" width="100"
                                                        height="35">
                                                    <img v-case="'Tennis'" src="../../assets/images/basic/Tennis.png"
                                                        width="100" height="35">
                                                </div>
                                                <b-button class="live-sports-list-item-btn" block href="#"
                                                    v-b-toggle="'container' + sport.id">
                                                    {{sport.name}}</b-button>
                                            </b-card-header>
                                            <b-collapse v-bind:id="'container' + sport.id" accordion="my-accordion"
                                                role="tabpanel">
                                                <b-card-body :class="'live-sport-'+sport.id">
                                                    <ul compact="hide" class="live-games-list">
                                                        <div :class="'games games-'+sport.id">
                                                            <li class="row live-games-row-header"
                                                                :id="'row-header-'+sport.id">
                                                                <div class="col-6 col-sm-6 col-md-6"></div>
                                                                <div
                                                                    class="col-4 col-sm-4 col-md-4 live-games-row-header-cell-container">
                                                                    <div class="live-games-row-header-cell">1</div>
                                                                    <div class="live-games-row-header-cell">X</div>
                                                                    <div class="live-games-row-header-cell">2</div>
                                                                </div>
                                                            </li>
                                                            <li v-for="(liveGame, index) in liveGameToDisplay"
                                                                v-bind:key="liveGame.id" v-bind:index="index"
                                                                v-bind:id="liveGame.id"
                                                                v-bind:class="[index%2 == 0 ? 'grey-bg row countries-list-item list-item-live-'+sport.id : 'white-bg countries-list-item row list-item-live-'+sport.id]"
                                                                v-if="liveGame.league.sport_id && liveGame.league.sport_id == sport.id">
                                                                <div class="game-time col-2 col-sm-2 col-md-2">
                                                                    <div class="live-game-time">
                                                                        {{liveGame.live_time}}
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="live-game-team game-team col-2 col-sm-2 col-md-2">
                                                                    {{liveGame.home.name}}</div>
                                                                <div class="col-1 col-sm-1 col-md-1 team-separator">
                                                                    {{liveGame.ss}}</div>
                                                                <div
                                                                    class="live-game-team game-team col-2 col-sm-2 col-md-2">
                                                                    {{liveGame.away.name}}</div>
                                                                <div class="modds col-3 col-sm-3 col-md-3">
                                                                    <div class=""
                                                                        v-for="(odd, oddIndex) in liveGame.odds"
                                                                        v-bind:oddIndex="oddIndex" v-bind:key="odd.id"
                                                                        v-on:click="addDeleteOdd(liveGame,odd)"
                                                                        :class="'modds-container '+odd.id">
                                                                        <div class="modds-name" v-switch="odd.name"
                                                                            v-if="odd.name">
                                                                            <span v-case="liveGame.home.name">1</span>
                                                                            <span v-case="liveGame.away.name">2</span>
                                                                            <span v-case="'Draw'">X</span>
                                                                        </div>
                                                                        <div class="modds-value">
                                                                            {{odd.odds}}</div>
                                                                    </div>
                                                                    <!-- <input class="bet" type="button" :value="odd.odds"> -->
                                                                </div>
                                                                <div class="other-odds col-2 col-sm-2 col-md-2"
                                                                    v-if="liveGame.count_live_odds">
                                                                    <div class="other-odds-container">
                                                                        <div class="odds-count">
                                                                            <div>{{liveGame.count_live_odds.total}}
                                                                            </div>
                                                                        </div>
                                                                        <div class="other-odds-dropdown-icon">
                                                                            <i class="material-icons"
                                                                                b-modal="modal-live-games-other-odds"
                                                                                v-on:click="displayAllOddsBlock(liveGame)">
                                                                                arrow_drop_down
                                                                            </i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </div>
                                                    </ul>
                                                </b-card-body>
                                            </b-collapse>
                                        </b-card>
                                        <!--<li id="live-match-all-odds">
                                             <match-all-odds-component :selectedMatch="selectedMatch"
                                                :selectedOddsInCart.sync="selectedOddsInCart"
                                                :teamParlay.sync="teamParlay" :live="true"
                                                @selectedOddsInCartBack="receiveSelectedOddsFromMatchAllOddsComponent"
                                                @teamParlayBack="receiveTeamParlayFromMatchAllOddsComponent">
                                            </match-all-odds-component> 
                                        </li>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 pl-md-0">
                                <selected-odds-cart-component :selectedOddsInCart="selectedOddsInCart"
                                    :teamParlay.sync="teamParlay">
                                </selected-odds-cart-component>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- other odds -->
                <b-modal id="modal-live-games-other-odds" ref="liveGameOtherOdds" @shown="addCssClassToOddsElement"
                    hide-footer>
                    <template v-slot:modal-title>
                        Autres Paris
                    </template>
                    <div class="d-block text-center">
                        <div class="other-odds-block col-12 col-sm-12 col-md-12" v-if="selectedMatch">
                            <div v-for="category in selectedMatch.otherOdds"
                                class="sub_category_block live_sub_category_block">
                                <div class="col-12 col-sm-12 col-md-12 sub_category_heading">
                                    <h5>{{category.name}}</h5>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 sub_category_odds"
                                    v-for="sub_category in category.sub_categorie"
                                    v-if="sub_category.odds && sub_category.odds.length > 0">
                                    <div class="row other-odds-line" v-for="odd in sub_category.odds">
                                        <div class="col-7 col-sm-7 col-md-7">
                                            <span>{{sub_category.name | ReplaceUnderscore}}</span>
                                            <span>{{odd.header ? ' : ' + odd.header : ''}}</span>
                                        </div>
                                        <div :class="'modds-container col-5 col-sm-5 col-md-5 '+odd.id"
                                            v-on:click="addDeleteOdd(selectedMatch,odd)" v-bind:id="odd.id">
                                            <div class="modds-name">
                                                {{odd.name ? odd.name : odd.handicap}}</div>
                                            <div class="modds-value">{{odd.odds}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <b-button block variant="primary" class="close-popup" v-on:click="closeModal()">
                            Terminer</b-button>
                    </div>
                </b-modal>
            </div>
            <!-- end call body -->
        </div>
        <!-- call footer -->
        <footer-component></footer-component>
        <!-- end call footer -->
    </div>
</template>

<script>
    import mixin from '../filters/mixin'
    import moment from 'moment'
    export default {
        mixins: [mixin],
        mounted() {
            //initiate the authUser passed to the app
            let authUser = localStorage.getItem('user');
            this.authUser = JSON.parse(authUser);
            this.ismounted = true;
            //initiate selectedOddsInCart
            if (localStorage.getItem("selectedOdds")) {
                this.selectedOddsOnLocalStorage = localStorage.getItem('selectedOdds');
                this.selectedOddsOnLocalStorage = this.selectedOddsOnLocalStorage.trim();
                this.selectedOddsOnLocalStorage = JSON.parse(this.selectedOddsOnLocalStorage);
                this.selectedOddsInCart = this.selectedOddsOnLocalStorage;
            } else {
                this.selectedOddsInCart = [];
            }
            //initiate teamParlay
            if (localStorage.getItem("teamParlay")) {
                this.teamParlayOnLocalStorage = localStorage.getItem('teamParlay');
                this.teamParlayOnLocalStorage = this.teamParlayOnLocalStorage.trim();
                this.teamParlayOnLocalStorage = JSON.parse(this.teamParlayOnLocalStorage);
                this.teamParlay = this.teamParlayOnLocalStorage;
            } else {
                this.teamParlay = [];
            }
            //
            if (localStorage.getItem("selectedOdds")) {
                this.selectedOddsOnLocalStorage = localStorage.getItem('selectedOdds');
                this.selectedOddsOnLocalStorage = this.selectedOddsOnLocalStorage.trim();
                this.selectedOddsOnLocalStorage = JSON.parse(this.selectedOddsOnLocalStorage);
                this.selectedOdds = this.selectedOddsOnLocalStorage;
            } else {
                this.selectedOdds = [];
            }
            //
            this.getSports();
            this.loadData();

            this.interval = setInterval(function () {
                this.loadData();
            }.bind(this), 30000);

            // this.interval = setTimeout(function () {
            //     this.loadData();
            // }, 20000)
        },
        data() {
            return {
                liveGames: [],
                sports: [],
                interval: null,
                authUser: this.authUser,
                ismounted: false,
                selectedOddsInCart: this.selectedOddsInCart,
                teamParlay: this.teamParlay,
                selectedOdds: this.selectedOdds,
                showAllOddsComponent: false,
                liveGameToDisplay: [],
                selectedFilter: 'playing',
                selectedMatch: null
            };
        },
        watch: {
            'liveGames': function (newLiveGames, oldLiveGames) {
                this.updateSelectdOdds();
            }

        },
        methods: {
            updateSelectdOdds() {

                let vm = this;

                for (let index = 0; index < vm.selectedOddsInCart.length; index++) {

                    let selectedOdd = vm.selectedOddsInCart[index];
                    //find the game index
                    let gamePos = vm.liveGames.map(function (live) {
                        return live.id;
                    }).indexOf(selectedOdd.prematch_id);
                    if (gamePos != -1) {
                        let oddPos = vm.liveGames[gamePos].odds.map(function (odd) {
                            return odd.id;
                        }).indexOf(selectedOdd.id);
                        if (vm.liveGames[gamePos].otherOdds) {
                            if (oddPos == -1) {
                                oddPos = vm.liveGames[gamePos].otherOdds.map(function (odd) {
                                    return odd.id;
                                }).indexOf(selectedOdd.id);
                                if (oddPos != -1) {
                                    selectedOdd.odds = vm.liveGames[gamePos].otherOdds[oddPos].odds;
                                }
                            } else {
                                selectedOdd.odds = vm.liveGames[gamePos].odds[oddPos].odds;
                            }
                        }
                    } else {
                        //vm.selectedOddsInCart.splice(index, 1);
                    }

                }
            },
            async loadData() {

                let vm = this;
                axios.get('/api/v1/allLiveEvents', {})
                    .then(function (response) {
                        vm.liveGames = response.data.data;
                        vm.filterLiveGames(vm.selectedFilter);

                    })
                    .catch(function (error) {
                        vm.loading = false;
                    });

            },
            closeModal() {
                this.$refs.liveGameOtherOdds.hide();
            },
            displayAllOddsBlock(match) {
                var vm = this;

                if (!match.otherOdds) {
                    vm.loading = true;
                    vm.page_url = '/api/v1/odds/' + match.id;
                    axios.get(vm.page_url, {})
                        .then(function (response) {

                            match.otherOdds = response.data.data;
                            vm.loading = false;
                            vm.selectedMatch = match;
                            //
                            if (match.otherOdds) {
                                // $('#live-match-all-odds').toggle(200, function () {
                                //     vm.addCssClassToOddsElement();
                                // });
                                vm.$refs.liveGameOtherOdds.show();
                            }

                        })
                        .catch(function (error) {
                            //
                            vm.loading = false;
                            // $('#live-match-all-odds').toggle();
                        });
                } else {
                    vm.selectedMatch = match;
                    //
                    // vm.selectedMatch = match;
                    // let element = $('#live-match-all-odds');
                    //add the css class for selected odds block
                    // element.toggle(200, function () {
                    //     vm.addCssClassToOddsElement();
                    // });
                    vm.$refs.liveGameOtherOdds.show();
                }

            },
            getMatchOtherOdds(match) {
                var vm = this;
                //check if match-all-odds is visible
                if ($("live-match-all-odds").is(":visible")) {
                    //if visible always hide it
                    $('live-match-all-odds').toggle();
                    //if another match selected then call displayAllOddsBlock
                    if (!$("live-match-all-odds").hasClass('all-odds-' + match.id)) {
                        vm.displayAllOddsBlock(match);
                    }
                } else {
                    //if match-all-odds is not visible means no match was selected then call displayAllOddsBlock
                    vm.displayAllOddsBlock(match);
                }

            },
            addCssClassToOddsElement() {
                let vm = this;
                for (let index = 0; index < vm.selectedOddsInCart.length; index++) {
                    let oddId = vm.selectedOddsInCart[index].id;
                    //
                    $("." + oddId).each(function (i) {
                        $(this).addClass("selectedOdd");
                    });
                }
            },
            getSports() {

                let vm = this;

                axios.get('/api/v1/sports', {})
                    .then(function (response) {
                        vm.sports = response.data.data.data;
                    })
                    .catch(function (error) {
                        vm.loading = false;
                    });

            },
            addDeleteOdd(match, odd) {
                var vm = this;

                let found = vm.selectedOdds.some(theOdd => theOdd.id == odd.id);

                if (!found) {
                    odd.homeTeam = match.home.name;
                    odd.awayTeam = match.away.name;
                    odd.prematch_id = match.id;
                    //
                    vm.selectedOdds.push(odd);
                    //
                    // var oddBlock = $("#" + odd.id);
                    // oddBlock.addClass("selectedOdd");
                    // oddBlock.children(":first").addClass("selectedOdd");
                    $("." + odd.id).each(function (index) {
                        $(this).addClass("selectedOdd");
                        $(this).children(":first").addClass("selectedOdd");
                    });
                } else {
                    var index = vm.selectedOdds.length;

                    while (index--) {
                        if (vm.selectedOdds[index].id === odd.id) {
                            vm.selectedOdds.splice(index, 1);
                        }
                    }
                    //
                    // var oddBlock = $("#" + odd.id);
                    // oddBlock.removeClass("selectedOdd");
                    // oddBlock.children(":first").removeClass("selectedOdd");
                    $("." + odd.id).each(function (index) {
                        $(this).removeClass("selectedOdd");
                        $(this).children(":first").removeClass("selectedOdd");
                    });
                }

                localStorage.setItem('selectedOdds', JSON.stringify(vm.selectedOdds));
                vm.updateSelectedOddsInCart();
                //
                vm.updateCart();

            },
            updateSelectedOddsInCart() {
                this.selectedOddsInCart = this.selectedOdds; // handle data and give it back to parent by interface
            },
            updateCart() {
                var vm = this;
                let teamParlayResult = vm.updateCartTotal(vm.selectedOdds);
                vm.updateTeamParlay(teamParlayResult);
                localStorage.setItem('teamParlay', JSON.stringify(teamParlayResult));
            },
            updateTeamParlay(teamParlayResult) {
                this.teamParlay = teamParlayResult; // handle data and give it back to parent by interface
            },
            receiveSelectedOddsFromMatchAllOddsComponent(event) {
                this.selectedOdds = event;
                this.updateSelectedOddsInCart();
            },
            receiveTeamParlayFromMatchAllOddsComponent(teamParlay) {
                this.updateTeamParlay(teamParlay);
            },
            updateSelectedOddsInCart() {
                this.selectedOddsInCart = this.selectedOdds;
            },
            filterLiveGames(btnType) {

                let vm = this;

                var date = moment().utc().format('YYYY-MM-DD HH:mm:ss');

                switch (btnType) {
                    case 'playing':
                        vm.liveGameToDisplay = vm.liveGames;
                        vm.selectedFilter = 'playing';
                        break;
                    case 'soon':
                        vm.selectedFilter = 'soon';
                        vm.liveGameToDisplay = vm.liveGames.filter((game) => date < game.time);
                        break;
                    case 'favoris':
                        vm.selectedFilter = 'favoris';
                        let list = [];
                        //vm.liveGameToDisplay = vm.liveGames.filter((game) => vm.authUser.leagues.filter((league) => league.id == game.league_id));
                        for (let index = 0; index < vm.liveGames.length; index++) {
                            let game = vm.liveGames[index];
                            for (let j = 0; j < vm.authUser.leagues.length; j++) {
                                let league = vm.authUser.leagues[j];
                                if (game.league_id == league.id) {
                                    list.push(game);
                                    break;
                                }
                            }
                        }
                        vm.liveGameToDisplay = list;
                        break;
                }
            },
            showHeader(sportId) {
                //delete empty categorie
                let liveGamesNbr = $(".live-sport-" + sportId).children().children().children().length;

                if (liveGamesNbr == 1) {
                    $('#row-header-' + sportId).hide();
                } else {
                    $('#row-header-' + sportId).show();
                }
            }
        },
        beforeDestroy: function () {
            clearInterval(this.interval);
        }
    }

</script>
