<template>
    <div class="col-md-12">
        <!-- <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbars"
                aria-controls="mainNavbars" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">///</span>
            </button>

            <div class="collapse navbar-collapse" id="mainNavbars">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Acceuil</a>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{ name: 'live-bets-component'}">
                            Paris en ligne
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="paris_casino.html">Jeux casino & vituels</a>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" :to="{ name: 'contact-page-component'}">
                            Contact
                        </router-link>
                    </li>
                </ul>
                <div class="form-inline my-2 my-md-0">
                    <input class="form-control search" v-model="searchTerm" type="text" v-on:keyup.enter="search"
                        placeholder="Recherche" aria-label="Recherche">
                </div>
            </div>
        </nav> -->
        <b-navbar class="custom-main-menu" toggleable="lg" type="dark" variant="info">
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-item class="nav-item active" id="home-link">
                        <router-link @click.native="updateRoute" class="custom-main-menu-link nav-link"
                            :to="{ name: 'home-page-component'}">
                            Acceuil
                        </router-link>
                    </b-nav-item>
                    <b-nav-item class="nav-item" id="live-link">
                        <router-link @click.native="updateRoute" class="custom-main-menu-link nav-link"
                            :to="{ name: 'live-bets-component'}">
                            Paris en ligne
                        </router-link>
                    </b-nav-item>
                    <b-nav-item class="nav-item">
                        <a class="custom-main-menu-link nav-link" href="#">Jeux casino & vituels</a>
                    </b-nav-item>
                    <b-nav-item class="nav-item" id="contact-link">
                        <router-link @click.native="updateRoute" class="custom-main-menu-link nav-link"
                            :to="{ name: 'contact-page-component'}">
                            Contact
                        </router-link>
                    </b-nav-item>
                </b-navbar-nav>

                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">
                    <b-nav-item class="nav-item-search form-inline my-2 my-md-0">
                        <div class="input-container">
                            <i class="left-border-white background-grey btn-icon material-icons icon"
                                v-on:click="search">
                                search
                            </i>
                            <input class="background-grey input-field search" v-model="searchTerm" type="text"
                                v-on:keyup.enter="search" placeholder="Rechercher">
                        </div>
                        <!-- <b-input-group>
                            <b-input-group-prepend>
                                <span class="background-transparent input-group-text"><i
                                        class="btn-icon material-icons">
                                        delete_outline
                                    </i></span>
                            </b-input-group-prepend>
                            <b-form-input class="form-control search" v-model="searchTerm" type="text"
                                v-on:keyup.enter="search" placeholder="Rechercher">
                            </b-form-input>
                        </b-input-group> -->
                        <!-- <i class="btn-icon material-icons">
                            delete_outline
                        </i>
                        <input class="form-control search" v-model="searchTerm" type="text" v-on:keyup.enter="search"
                            placeholder="Rechercher" aria-label="Rechercher"> -->
                    </b-nav-item>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
</template>
<script>
    export default {
        mounted() {
            this.updateRoute()
        },
        data() {
            return {
                searchTerm: null,
                searchResults: []
            };
        },
        methods: {
            updateRoute() {
                var vm = this;

                let routeName = vm.$router.currentRoute.name;

                $(".nav-item").removeClass("active");

                switch (routeName) {
                    case 'home-page-component':
                        $("#home-link").addClass("active");
                        break;
                    case 'live-bets-component':
                        $("#live-link").addClass("active");
                        break;
                    case 'contact-page-component':
                        $("#contact-link").addClass("active");
                        break;
                }
            },
            search() {
                var vm = this;

                let data = {
                    search: vm.searchTerm
                };

                axios.get('/api/v1/search/' + vm.searchTerm, {})
                    .then(function (response) {
                        vm.searchResults = response.data.data;
                        localStorage.setItem('searchResults', JSON.stringify(vm.searchResults));
                        if (vm.$router.currentRoute.name == 'search-results-component') {
                            vm.$router.go(0);
                        } else {
                            vm.$router.push({
                                path: 'search-results'
                            });
                        }

                    })
                    .catch(function (error) {});
            }
        }
    }

</script>
