<template>
    <div class="timeline-main-container">
        <h4 class="timeline-title">A VENIR DANS</h4>
        <div class="timeline-container">
            <div id="1hour" class="custom-block" v-on:click="!loading ? selectTime($event) : null"></div>
            <div id="3hours" class="custom-block" v-on:click="!loading ? selectTime($event) : null"></div>
            <div id="today" class="custom-block changed" v-on:click="!loading ? selectTime($event) : null"></div>
            <div id="3days" class="custom-block" v-on:click="!loading ? selectTime($event) : null"></div>
            <div id="all" class="custom-block" v-on:click="!loading ? selectTime($event) : null"></div>
        </div>
        <div class="timeline-container" style="padding-left:unset !important">
            <div class="custom-block-text">1hr</div>
            <div class="custom-block-text">3hrs</div>
            <div class="custom-block-text">1jr</div>
            <div class="custom-block-text">3jrs</div>
            <div class="custom-block-text">tous</div>
        </div>
    </div>
</template>
<script>
    export default {
        props: ['sports', 'selectedTime', 'loading'],
        mounted() {
            window.axios.defaults.headers.common = {
                'X-Requested-With': 'XMLHttpRequest',
            };
        },
        data() {
            return {};
        },
        watch: {
            'loading': function (newLoading, oldLoading) {},
        },
        methods: {
            selectTime(e) {
                var vm = this;

                vm.$emit('update:selectedTime', e.srcElement.id);

                $('.custom-block').removeClass('changed');
                $('#' + e.srcElement.id).toggleClass('changed');
            },
        }
    }

</script>
