@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    background-image: url('../images/basic/bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
}

body>.container {
    flex-grow: 1;
    position: relative;
}

footer {
    background-color: #0c234b;
    color: #fff;
    font-size: 12px;
    line-height: 1.8;
    min-height: 300px;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

footer .first {
    border-right: 2px solid #999;
}

/* footer .last {
    position: absolute;
    right: 0;
} */

.footer-last-img{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 370px !important;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

textarea {
    border-radius: 0px !important;
}

input[type="email"],
input[type="text"] {
    border-radius: 0px;
}

input[type="email"],
input[type="text"] {
    padding: 3px 3px;
}

textarea:focus,
textarea:hover,
textarea:active,
input:focus,
input:hover,
input:active {
    outline: none !important;
    border-color: #ababab !important;
    box-shadow: none !important;
}



.navbar .paris {
    color: #f0f2f7;
    font-size: 12px;
    text-transform: uppercase;
}

.navbar .paris label {
    background: #f0f2f7;
    padding: 2.5px 7px;
    border-radius: 50%;
    color: #000;
}

.btn {
    font-size: 12px;
}

.btn-primary {
    color: #fff;
    background-color: #0b2046;
    border-radius: 0px;
    border-color: #0b2046;
}

.btn:not(:disabled):not(.disabled).active:focus,
.btn:not(:disabled):not(.disabled):active:focus,
.show>.btn.dropdown-toggle:focus,
.btn.focus,
.btn:focus {
    box-shadow: none !important;
}

.navbar {
    background: transparent;
    padding: 0px;
}

.navbar.menu {
    border-bottom: 1px solid #f0f2f7;
    box-shadow: 0px 15px 15px -9px #f0f2f7;
}


.navbar .nav-item a {
    padding: 15px 15px !important;
    color: #b9bed1;
    text-transform: uppercase;
    font-size: 10px;
}

.navbar .nav-item:not(:last-child) {
    border-right: 1px solid #f0f2f7;
}

.custom-main-menu .nav-item:hover a{
    color: white !important;
}

.navbar .nav-item a:hover,
.navbar .nav-item.active a {
    background: #0b2046;
    color: #fff;
}

.navbar-toggler {
    background-color: #0b2046;
    border: 0px;
    border-radius: 0px;
}

.navbar-toggler-icon {
    color: #fff;
}

.navbar input.search {
    border: none !important;
    border-radius: 0px;
    border-left: 1px solid #f0f2f7 !important;
    padding: 13px 10px 13px 40px;
    font-size: 12px;
}

.required-filed {
    font-size: 12px;
}

.nav-pills .nav-link {
    background: #656769;
    color: #fff;
    border-radius: 0px;
    padding: 15px 28px;
}

.nav-pills .nav-link:hover,
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: #10316d;
}

.nav-pills .nav-item:not(:last-child) {
    margin-right: 5px;
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container .btn-primary {
    padding: 5px 10px 5px 10px;
    border: 2px solid #e3e8f0;
    -webkit-border-top-right-radius: 30px 30px;
    -webkit-border-bottom-right-radius: 30px 30px;
    -webkit-border-top-left-radius: 30px 30px;
    -webkit-border-bottom-left-radius: 30px 30px;
    text-align: center;
    width: 100%;
}

.center-element{
    text-align: center !important;
}

.login-btn {
    /* width: 35% !important; */
    float: left;
    margin-right: 5%;
    padding-left: 7px !important;
}

.signup-btn{
    width: 60% !important;
    padding-left: 7px !important;
    clear: both;
}

.login-container input[type="text"]:focus,
.login-container input[type="text"]:hover,
.login-container input[type="text"]:active,
.login-container input[type="password"]:focus,
.login-container input[type="password"]:hover,
.login-container input[type="password"]:active {
    border: 2px solid #e3e8f0 !important;
    outline: none;
    box-shadow: none;
}

.login-container .btn {
    text-transform: uppercase;
}

.login-container{
    width: 100%;
}

.contact label {
    font-weight: 700
}

.btn.register {
    background: #e60d3e;
}

.mp-forget {
    font-size: 12px;
    color: #a4aabd;
}

.mp-forget:hover {
    color: #fff;
}

.bottom-nav {
    background-color: #e60d3e;
    padding: 2rem 0px;
}

.bottom-nav ul li {
    display: inline-block;
}

.bottom-nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0px 10px;
    border-right: 1px solid #fff;
}

.bottom-nav ul li:last-child a {
    border-right: 0px;
}

.card {
    background: #f1f3f5;
    border: 0px;
}

.card.b-left {
    border-left: 1px solid #a19b97;
    border-bottom: 1px solid #a19b97;
}

.card.b-right {
    border-right: 1px solid #a19b97;
    border-bottom: 1px solid #a19b97;
}

.card,
.card-header:first-child {
    border-radius: 0px;
}

.card-header {
    font-size: 12px;
    padding: 10px 20px;
}

.bg-dark {
    background-color: #f1f3f5;
}

.bg-blue {
    background-color: #0b2046;
}

.card-body {
    padding: 0px;
}

.uBets {
    width: 100%;
    display: inline-block;
}

.uBets .event-info:nth-child(even) {
    background: #FFF
}

.uBets .event-info:nth-child(odd) {
    background: #f1f3f5
}

.uBets .event-info {
    padding: 10px;
    float: left;
    width: 100%;
    display: table;
}

.uBets .event-info .team-info {
    font-size: 11px;
}

.uBets .event-info .close-bet {
    vertical-align: top;
    display: table-cell;
    text-align: right;
    width: 10%;
}

.close-bet-icon{
    color: #0b2046;
    font-size: 12px !important;
    border-radius: 50%;
    border: 1px solid #0b2046 !important;
    padding: 2px;
    font-weight: bolder !important;
}

.uBets .event-info .bet-comb {
    float: left;
    width: 100%;
    font-size: 10px;
    font-weight: 700;
}

.betSlipInfo {
    display: inline-block;
    width: 100%;
}

.betSlipInfo .info-row {
    clear: both;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.betSlipInfo .info-row:not(:last-child) {
    padding-bottom: 5px;
}

.bmatch {
    border-bottom: 1px solid #c6c6c6;
    clear: both;
    float: left;
    height: auto;
    line-height: 26px;
    width: 100%;
}

.sportsMenu>li .stitle {
    padding: 10px 20px;
    cursor: pointer;
}

.sportsMenu>li ul li:not(:last-child),
.sportsMenu>li:not(:last-child) {
    border-bottom: 1px #abb5c4 solid;
}

.sportsMenu>li ul li {
    background-color: #0b2046;
    padding: 5px 20px;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
}

.avatar {
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    border: 2px solid whitesmoke;
}

.user-nav .nav-link {
    color: #fff;
    font-weight: 700
}

.user-nav .nav-link span {
    color: #048ade;
}

.user-nav .dropdown-toggle::after {
    content: none
}

form.profile .card {
    background: #f5f5f5;
    border: 2px solid #cacaca;
}

form.profile .card label {
    font-weight: 700
}

@media (max-width: 600px){
    .mp-forget {
        font-size: 8px !important;
    }

    .countries-list-item{
        height: 60px !important;
    }

    .live-game-time {
        font-size: 7px !important;
    }
}

@media (max-width: 496px) {
    .modds-name {
        float: unset !important;
        text-align: center !important;
    }
    .modds-value {
        text-align: center !important;
        padding: unset !important;
    }

}

@media (max-width: 767px) {
    .footer-blocks{
        width: 100%;
    }

    .container-with-margin{
        margin-bottom: 830px !important;
    }
    
    .footer-block{
        width: 100% !important;
        float: unset !important;
        text-align: center;
        margin-top: 20px;
    }

    .footer-last-img{
        position: relative;
        bottom: 0px;
        width: 350px !important;
    }

    .last-footer-element{
        text-align: center !important;
    }

    footer .first {
        border-right: 0px;
    }

    .card.b-right,
    .card.b-left {
        border: 0px;
    }

    .custom-block.changed:after{
        position: absolute; 
        bottom: -5px !important; 
        left: 0; 
        height: 15px !important; 
        width: 15px !important; 
        background: white; 
        content: ""; 
        border-radius: 10px !important;
    }

    .countries-list-item-name{
        width: 95% !important;
    }
    
    .countries-list-item-count{
        width: 5% !important;
        height: 22px !important;
    }
    
    .countries-list-item{
        height: 65px !important;
    }
}

@media (max-width: 991px) and (min-width: 768px){

    .countries-list-item-name{
        width: 75% !important;
    }
    
    .countries-list-item-count{
        width: 25% !important;
        height: 20px !important;
    }

    footer .last {
        position: relative;
        display: none;
    }

    .delete-all-odds-btn{
        width: 90% !important;
        padding-right: 5px !important;
    }
    
    .btn-icon {
        font-size: 14px !important;
    }
    
    .delete-all-odds-text{
        padding-left: 5px !important;
        font-size: smaller;
    }

}

/* added by amine */
.btn-blue-bg-color {
    background-color: #10316d !important;
}

.btn-red-bg-color {
    background-color: #f33d54 !important;
}

.btn-rounded-grey-border {
    border-radius: 10px;
    border-color: #e3e8f0 !important;
    border: 5px;
}

.sports-list-item-btn {
    background-color: transparent !important;
    border: none !important;
    color: #000 !important;
}

.live-sports-list-item-btn{
    color: white !important;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #0b2046 !important;
    border-color: transparent  !important;
    float: left;
    width: 80%;
    padding-left: unset;
}

.live-sport-header{
    background-color: #0b2046 !important;
    padding-bottom: unset !important;
    padding-left: unset !important;
}

.countries-list-item {
    background-color: #0b2046 !important;
    padding: 5px 5px !important;
    color: #fff !important;
    cursor: pointer !important;
    font-size: 10px !important;
    border-bottom: 1px #abb5c4 solid;
    width: 100%;
    height: 35px;
}

.country-list-item {
    background-color: #0b2046 !important;
    padding: 5px 5px !important;
    color: #fff !important;
    cursor: pointer !important;
    font-size: 10px !important;
    border-bottom: 1px #abb5c4 solid;
    width: 100%;
    height: 35px;
}

.match-list-item-btn {
    background-color: transparent !important;
    border: none !important;
    color: #fff !important;
    text-align: unset !important;
    padding: 0 !important;
    float: left;
    width: 70%;
}

.card-header-favoris{
    width: 30%;
    float: left;
    text-align: right;
}

.modds {
    margin-top: 5px;
}

.modds-name {
    text-align: center;
}

.games {
    width: 100% !important;
    font-size: smaller;
}

.width-100 {
    width: 100% !important;
}

.games>tr>td {
    padding-left: 5px;
    padding-right: 5px;
}

.game-time {
    max-width: 12% !important;
    color: #55648a !important;
    font-weight: bold;
    padding: 8px;
    margin: unset !important;
}

.game-team {
    width: 20% !important;
    color: #575758;
	font-weight: bold;
    padding: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.modds {
    width: 40% !important;
    padding: unset !important;
    color: #575758;
}

.modds-name {
    float: left;
    text-align: left;
    padding: 2px;
    /* color: #0d2651; */
    font-weight: bold;
}

.modds-value {
    text-align: right;
    padding: 2px;
}

.other-odds {
	width: 16% !important;
	padding: 8px;
}

.other-odds-container {
    width: 100% !important;
    margin-top: 10px;
}

.odds-count {
    text-align: center;
    width: 70% !important;
    float: left;
    /* border: 1px solid #0e2040;
    border-radius: 50%; */
    font-size: 10px;
    color: #0e2040;
}

.odds-count > div{
    border: 1px solid #0e2040;
    border-radius: 50%;
    padding: 3px;
    width: 30px;
    height: 30px;
    font-weight: bolder;
}

.other-odds-dropdown-icon {
    width: 30% !important;
    float: left;
    color: #0b2046;
    cursor: pointer;
}

.modds-container {
    border: 1px solid #d9d9d9;
    width: 33% !important;
    float: left;
    cursor: pointer;
    font-size: 10px;
}

.my-bet-modds-container {
    border: 1px solid #d9d9d9;
    width: 100% !important;
    float: left;
    cursor: pointer;
    font-size: 10px;
}

.grey-bg {
    background-color: #e6e6e6 !important;
	margin: unset !important;
	display: flex;
    align-items: center;
}

.white-bg {
    background-color: #fff !important;
	margin: unset !important;
	display: flex;
    align-items: center;
}

.other-odds-line{
    margin-top: 10px;
}

.allOddsContainer{
    width: 100% !important;
    overflow-y: scroll;
    height: 300px;
}

.selectedOdd{
    background-color: #0b2046;
    color: #fff !important;
}

.sub_category_heading{
    background-color: #0b2046;
    color: #fff;
}

#match-all-odds{
    margin-top: 5px !important;
    overflow-y: scroll; 
    height:350px;
    width: 100%;
}

#live-match-all-odds{
    /* overflow-y: scroll;  */
    height:350px;
}

/* border-bottom: 1px #abb5c4 solid; */

.combinaison-text {
    font-size: smaller;
    width:60%;
}

.combinaison-options {
    width:40%;
    text-align:right;
}

.combinaison-options-btn{
    background: transparent;
    border: unset;
    padding: unset;
    color: black;
    cursor: pointer;
    font-size: smaller;
}

.combinaison-options-btn:hover{
    background: transparent !important;
}

.half-width-text-right{
    width:50%;
    text-align:right;
}

.width-100{
    width: 100%;
}

.width-50{
    width: 50%;
}

.padding-5{
    padding: 5px;
}

.font-size-smaller{
    font-size: smaller;
}

.padding-right-10{
    padding-right: 10px;
}

.margin-right-10{
    margin-right: 10px;
}

.profile-pic {
	width: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    height: 50px !important;
}
.customnavbar .nav-item a{
    padding: unset !important;
    background-color: transparent !important;
}

.customnavbar .nav-item:not(:last-child) {
    border-right: none !important;
}

#my-nav-dropdown a{
    background-color: transparent !important;
    color: #fff !important;
}

#my-nav-dropdown {
    padding-top: 5px;
    min-width: 10rem;
    text-align: center;
}

.dropdown-menu {
    background-color: #1d2940 !important;
    padding: unset !important;
    margin: unset !important;
    border-radius: unset !important;
}

.dropdown-item:hover{
    background-color: transparent !important;
}

.dropdown-item-title {
    margin-top: 5px;
    padding-left: 5px;
    float: left;
}

.dropdown-item-icon{
    float: left;
}

.dropdown-item{
    /* padding: 0.25rem 0.75rem; */
}

.dropdown-menu li{
    min-height: 40px;
    border-bottom: 2px solid #33415d;
}

.page-title{
    color: #10316d !important;
    padding: 5%;
}

.blu-text-color{
    color: #10316d !important;
}

.btn-blue{
    width: 32%;
    border-radius: unset;
    margin-left: 5px;
    background-color: #10316d !important;
    color: white;
}

.btn-grey{
    width: 32%;
    border-radius: unset;
    background-color: #656769 !important;
    color: white;
}

.my-bet-container{
    margin:unset !important;
}

.custom-block{
    background: #fff;
    height: 3px;
    margin-top: 10px;
    width:19%;
    float: left;
    /* border-bottom: 2px solid black; 
    padding-bottom: 15px;  */
    position: relative;
    cursor: pointer;
}

.custom-block.changed:after{
    position: absolute; 
    bottom: -4px; 
    left: 0; 
    height: 10px; 
    width: 10px; 
    background: white; 
    content: ""; 
    border-radius: 10px;
}

.custom-block.changed:after {
    right: 0; 
    left: auto;
}

.custom-block-text{
    color: white;
    font-size: 9px;
    height: auto;
    margin-top: 10px;
    width:19%;
    float: left;
    text-align: right;
}

.timeline-main-container{
    width:100%;
    background-color: #e50d3f;
    min-height: 75px;
}

.timeline-container{
    clear: both;
    width: 100%;
    padding-left: 5%;
}

.timeline-title{
    font-size: 10px;
    color: white;
    padding-top: .5rem;
    margin-bottom: unset !important;
    padding-left: 5%;
}

.live-games-list{
    max-height: 250px;
    overflow:hidden; 
    overflow-y:scroll;
}

.country-list{
    max-height: 250px;
    /* overflow:hidden; 
    overflow-y:scroll; */
}

.grey-left-border{
    border-left: 5px solid #e6e6e6;
    margin: unset !important;
	display: flex;
    align-items: center;
}

.white-left-border{
    border-left: 5px solid #10316d;
    margin: unset !important;
	display: flex;
    align-items: center;
}

.live-btn{
    background-color: #fb0606 !important;
    color:#fff !important;
    width: 100%;
}

.soon-btn{
    background-color: #0b2046 !important;
    color:#fff !important;
    width: 100%;
}

.favoris-btn{
    background-color: #d3b907 !important;
    color:#fff !important;
    width: 100%;
}

.live-buttons{
    padding-right: unset !important;
    padding-left: 5px !important;
}

.live-sports-tab-image{
    width: 20%;
    float: left;
    height: inherit;
}

.live-game-time{
    color: #f9091a !important;
    font-size: 10px !important;
}

.live-game-team{
    font-size: smaller !important;
}

.team-separator{
    /* width: 10px !important; */
    padding: unset !important;
    color: #575758;
    font-size: small;
}

.live-games-row-header{
    background-color:#7a7676;
    height: 35px;
    margin: unset !important;
    padding: unset !important;
}

.live-games-row-header div {
    margin: unset !important;
    /* padding: unset !important; */
}

.live-games-row-header-cell{
    height: 100%;
    position: relative;
}

.live-games-row-header-cell{
    width: 33%;
    float: left;
    /* text-align: center; */
    color: white;
    margin: 0;
    /* position: absolute; */
    top: 65%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.custom-card-header{
    height: 40px;
}

.material-icons{
    cursor: pointer;
}

.accept{
    font-size: 10px;
    padding-right: 5px;
    text-align-last: right;
}

.custom-control-label::before{
    border: 1px solid #0b2046;
    top: .20rem !important;
    left: 0.15rem !important;
    border-radius: unset !important;
}

.carousel-image{
    max-height: 240px !important;
}

.search-result-container{
    padding: 10px;
}

.static-page-main-column{
    padding: 10px;
}

.footer-links{
    padding-left: 5px !important;
}

.other-odds-block{
    padding-left: unset;
    padding-right: unset;
    background-color: #e6e6e6 !important;
}

.btn-icon{
    font-size:16px !important;
}

.delete-all-odds-btn{
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #0b2046 !important;
}

.delete-all-odds-icon{
    float: left;
    height: -webkit-fill-available;
}

.delete-all-odds-text{
    padding-left: 10px;
}

.custom-bg-dark{
    background-color:  #302d2b;
}

.countries-list-item-name{
    float: left;
    width: 80%;
}

.countries-list-item-count{
    width: 20%;
    border: 1px solid white;
    text-align: center;
    border-radius: 50%;
    height: 22px;
    float: left;
}

.no-padding-left{
    padding-left: unset !important;
}

.no-padding-right{
    padding-right: unset !important;
}

.five-px-padding-left{
    padding-left: 5px !important;
}

.five-px-padding-right{
    padding-right: 5px !important;
}

.countries-list-item{
    height: 65px !important;
}

.custom-main-menu{
    background-color: #f1f3f5 !important;
    height: 100%;
}

.custom-main-menu > .navbar-collapse,.custom-main-menu > .navbar-collapse > ul {
    /* height: 100%; */
}

.custom-main-menu > .navbar-collapse > ul > .active {
    background: #0b2046;
    color: #fff;
}

.custom-main-menu .nav-link {
    color: #b9bed1 !important;
    height: 100%;
}

.custom-main-menu .nav-item a{
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    color: #0b2046 !important;
}

.custom-main-menu .nav-item a:hover{
    color: #fff !important;
}

.custom-main-menu .nav-item.active a{
    color: #fff !important;
}

.custom-main-menu .nav-link:hover{
    color: #fff !important;
}

.nav-item-search a.nav-link {
    padding: unset !important;
}

.footer-link{
    color: #fff !important;
}

.sponsors-logo-container{
    text-align: center !important;
    margin-top: 30px;
}

.sponsors-logos{
    max-width: 60% !important;
}

.padding-top-20{
    padding-top: 20px !important;
}

.sport-card-header{
    padding-left: 5px !important;
}

.text-align-right{
    text-align: right !important;
}

.cash-out-btn-container{
    width: 100%;
    text-align: right;
    padding-right: 40px;
}

.cash-out-btn{
    color: white !important;
}

.background-transparent{
    background-color: transparent !important;
}

.icon {
    /* padding: 10px; */
    background:transparent;
    /* min-width: 50px; */
    text-align: center;
    color: grey;
    padding-top: 14px;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  /* Style the input fields */
  .input-field {
    width: 100%;
    /* padding: 10px; */
    outline: none;
  }
  
  .input-field:focus {
    /* border: 2px solid dodgerblue; */
  }

  .input-container {
    background-color: white;
    display: flex;
    width: 100%;
    /* margin-bottom: 15px; */
  }

  .white-color{
      color: #fff !important;
  }

  .background-grey{
    background-color: #f0f2f7 !important;
  }

  .left-border-white{
      border-left: 1px solid white !important;
  }
  
  .scrollbar
{
	/* margin-left: 30px; */
	float: left;
    width: 100%;
    height: 300px;
	background: #F5F5F5;
	overflow-y: scroll;
	/* margin-bottom: 25px; */
}

.force-overflow
{
	min-height: 450px;
}

#wrapper
{
	text-align: center;
	width: 500px;
	margin: auto;
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.margin-bottom-10{
    margin-bottom: 10px !important;
}

.padding-to-10{
    padding-top: 10px !important;
}

.no-padding-left{
    padding-left: 0px !important;
}

.no-padding-right{
    padding-right: 0px !important;
}

.footer-blocks{
    width: 100%;
}

.footer-block{
    width: 33%;
    float: left;
}

.bold-font{
    font-weight: bold;
}

.container-with-margin{
    margin-bottom: 300px;
}

.live_sub_category_block{
    max-height: 450px;
    overflow-x: auto;
}

.close-popup{
    margin-top: 16px;
    font-weight: bold;
}