<template>
    <div class="col-md-7 px-md-1">
        <div class="banner mb-3">
            <b-carousel id="carousel-fade" style="text-shadow: 0px 0px 2px #000" fade img-width="1024" img-height="240"
                controls indicators>
                <b-carousel-slide class="carousel-image" img-src="/images/home-1.png">
                </b-carousel-slide>
                <!-- <b-carousel-slide class="carousel-image" img-src="/images/home-3.jpg">
                </b-carousel-slide> -->
                <b-carousel-slide class="carousel-image" img-src="/images/home-1.png">
                </b-carousel-slide>
            </b-carousel>
            <!-- <img src="../../../assets/images/basic/home-1.png" srcset="images/hd/home-1.png 2x" class="img-fluid"> -->
            <div v-if="selectedCountry == null">
                <b-spinner label="Loading..."></b-spinner>
            </div>
            <div v-if="selectedCountry">
                <b-card class="card mt-3" v-for="(league, index) in selectedCountry.leagues" v-bind:index="index"
                    v-bind:key="league.id" v-if="league.prematchs.length > 0">
                    <b-card-header class="card-header custom-card-header text-white bg-blue">
                        <b-button v-on:click="hideMatchAllOdds" class="match-list-item-btn" block href="#"
                            v-b-toggle="'leaguecontainer' + league.id">
                            {{league.name}}</b-button>
                        <div class="card-header-favoris">
                            <i v-bind:id="league.id" v-if="!league.favoris || league.favoris == false"
                                class="favoris-league material-icons" v-on:click="addDeleteFavoris(league, index)">
                                star_border
                            </i>
                            <i v-bind:id="league.id" v-if="league.favoris" class="favoris-league material-icons"
                                v-on:click="addDeleteFavoris(league, index)">
                                star
                            </i>
                        </div>
                    </b-card-header>
                    <b-collapse v-bind:id="'leaguecontainer' + league.id" accordion="my-accordion" role="tabpanel">
                        <b-card-body>
                            <div class="games">
                                <div v-for="(match, index) in league.prematchs" v-bind:index="index"
                                    v-bind:match="match" :id="match.id" v-bind:key="match.id"
                                    v-bind:class="[index%2 == 0 ? 'grey-bg row' : 'white-bg row']" v-if="!match.ss">
                                    <div class="game-time col-2 col-sm-2 col-md-2">
                                        <span>{{match.time | date}}</span>
                                    </div>
                                    <div class="game-team col-2 col-sm-2 col-md-2">{{match.home.name}}</div>
                                    <div style="width:5px !important">-</div>
                                    <div class="game-team col-2 col-sm-2 col-md-2">{{match.away.name}}</div>
                                    <div class="modds col-4 col-sm-4 col-md-4">
                                        <div :class="'modds-container '+odd.id" v-for="(odd, oddIndex) in match.odds"
                                            v-bind:oddIndex="oddIndex" v-if="oddIndex < 3" v-bind:odd="odd"
                                            v-on:click="addDeleteOdd(match,odd)">
                                            <div class="modds-name">{{odd.name}}</div>
                                            <div class="modds-value">{{odd.odds}}</div>
                                        </div>
                                        <!-- <input class="bet" type="button" :value="odd.odds"> -->
                                    </div>
                                    <div class="other-odds col-2 col-sm-2 col-md-2" v-if="match.count_odds">
                                        <div class="other-odds-container">
                                            <div class="odds-count">
                                                <div>{{match.count_odds.total}}</div>
                                            </div>
                                            <div class="other-odds-dropdown-icon">
                                                <i class="material-icons" v-on:click="getMatchOtherOdds(match)">
                                                    arrow_drop_down
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </b-card-body>
                    </b-collapse>
                </b-card>
                <div v-if="selectedMatch" :class="'row grey-bg all-odds-'+selectedMatch.id" id="match-all-odds">
                    <match-all-odds-component :selectedMatch="selectedMatch"
                        :selectedOddsInCart.sync="selectedOddsInCart" :teamParlay.sync="teamParlay"
                        @selectedOddsInCartBack="receiveSelectedOddsFromMatchAllOddsComponent"
                        @teamParlayBack="receiveTeamParlayFromMatchAllOddsComponent" :live="false">
                    </match-all-odds-component>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import mixin from '../../filters/mixin'
    export default {
        mixins: [mixin],
        mounted() {
            if (localStorage.getItem("selectedOdds")) {
                this.selectedOddsOnLocalStorage = localStorage.getItem('selectedOdds');
                this.selectedOddsOnLocalStorage = this.selectedOddsOnLocalStorage.trim();
                this.selectedOddsOnLocalStorage = JSON.parse(this.selectedOddsOnLocalStorage);
                this.selectedOdds = this.selectedOddsOnLocalStorage;
            } else {
                this.selectedOdds = [];
            }

        },
        props: ['selectedCountry', 'authUser', 'selectedOddsInCart', 'teamParlay'],
        data() {
            return {
                sports: [],
                loading: true,
                showAllOddsComponent: false,
                selectedMatch: null,
                selectedOdds: this.selectedOdds,
                vfOptions: {
                    autoplay: true
                },
                vfImages: ['../../../assets/images/basic/home-1.png', '../../../assets/images/basic/home-1.png'],
                vfTransitions: ['fade', 'cube', 'book', 'wave'],
                vfCaptions: [
                    'Caption for image 1',
                    'Caption for image 2',
                ],
            };
        },
        created() {},
        methods: {
            hideMatchAllOdds() {
                $('#match-all-odds').toggle();
                //this.showAllOddsComponent = false;
                //this.selectedMatch = null;
            },
            displayAllOddsBlock(match) {

                let vm = this;
                //check if match has otherOdds, if not make an api call to bring them
                if (!match.otherOdds) {
                    
                    vm.loading = true;
                    vm.page_url = '/api/v1/odds/' + match.id;
                    axios.get(vm.page_url, {})
                        .then(function (response) {

                            match.otherOdds = response.data.data;
                            vm.loading = false;
                            //vm.showAllOddsComponent = true;
                            vm.selectedMatch = match;
                            $('#match-all-odds').toggle(200, function () {
                                //add the css class for selected odds block
                                for (let index = 0; index < vm.selectedOddsInCart.length; index++) {
                                    let oddId = vm.selectedOddsInCart[index].id;
                                    $("." + oddId).each(function (i) {
                                        $(this).addClass("selectedOdd");
                                    });
                                }
                            });
                            $('#match-all-odds').insertAfter($('#' + vm.selectedMatch.id));

                        })
                        .catch(function (error) {
                            //vm.showAllOddsComponent = false;
                            $('#match-all-odds').toggle();
                            vm.loading = false;
                        });
                } else {
                    vm.selectedMatch = match;
                    let element = $('#match-all-odds');
                    //add the css class for selected odds block
                    element.toggle(200, function () {
                        for (let index = 0; index < vm.selectedOddsInCart.length; index++) {
                            let oddId = vm.selectedOddsInCart[index].id;
                            $("." + oddId).each(function (i) {
                                $(this).addClass("selectedOdd");
                            });
                        }
                    });

                    element.insertAfter($('#' + vm.selectedMatch.id));
                }
            },
            getMatchOtherOdds(match) {
                var vm = this;
                //check if match-all-odds is visible
                if ($("#match-all-odds").is(":visible")) {
                    //if visible always hide it
                    $('#match-all-odds').toggle();
                    //if another match selected then call displayAllOddsBlock
                    if (!$("#match-all-odds").hasClass('all-odds-' + match.id)) {
                        vm.displayAllOddsBlock(match);
                    }
                } else {
                    //if match-all-odds is not visible means no match was selected then call displayAllOddsBlock
                    vm.displayAllOddsBlock(match);
                }

            },
            addDeleteOdd(match, odd) {
                var vm = this;

                let found = vm.selectedOdds.some(theOdd => theOdd.id === odd.id);

                if (!found) {
                    odd.homeTeam = match.home.name;
                    odd.awayTeam = match.away.name;
                    vm.selectedOdds.push(odd);
                    //
                    // var oddBlock = $("#" + odd.id);
                    // oddBlock.addClass("selectedOdd");
                    // oddBlock.children(":first").addClass("selectedOdd");
                    $("." + odd.id).each(function (index) {
                        $(this).addClass("selectedOdd");
                        $(this).children(":first").addClass("selectedOdd");
                    });
                } else {
                    var index = vm.selectedOdds.length;

                    while (index--) {
                        if (vm.selectedOdds[index].id === odd.id) {
                            vm.selectedOdds.splice(index, 1);
                        }
                    }
                    //
                    // var oddBlock = $("#" + odd.id);
                    // oddBlock.removeClass("selectedOdd");
                    // oddBlock.children(":first").removeClass("selectedOdd");
                    $("." + odd.id).each(function (index) {
                        $(this).removeClass("selectedOdd");
                        $(this).children(":first").removeClass("selectedOdd");
                    });
                }

                localStorage.setItem('selectedOdds', JSON.stringify(vm.selectedOdds));
                vm.sendSelectedOddsToHomePageComponent();
                //
                vm.updateCart();

            },
            updateCart() {
                var vm = this;
                let teamParlayResult = vm.updateCartTotal(vm.selectedOdds);
                vm.sendTeamParlayToHomePageComponent(teamParlayResult);
                localStorage.setItem('teamParlay', JSON.stringify(teamParlayResult));
            },
            sendSelectedOddsToHomePageComponent() {
                this.$emit('selectedOddsInCartBackToHomePage', this
                    .selectedOdds); // handle data and give it back to parent by interface
            },
            sendTeamParlayToHomePageComponent(teamParlayResult) {
                this.$emit('teamParlayBackToHomePage',
                    teamParlayResult); // handle data and give it back to parent by interface
            },
            receiveSelectedOddsFromMatchAllOddsComponent(event) {
                this.selectedOdds = event;
                this.sendSelectedOddsToHomePageComponent();
            },
            receiveTeamParlayFromMatchAllOddsComponent(teamParlay) {
                this.sendTeamParlayToHomePageComponent(teamParlay);
            },
            addDeleteFavoris(league, index) {

                let vm = this;

                if (vm.authUser && vm.authUser.id) {
                    let data = {
                        league_id: league.id,
                        user_id: vm.authUser.id
                    };

                    let api = '';

                    if (league.favoris) {
                        api = '/api/v1/deleteFavoris';
                    } else {
                        api = '/api/v1/addFavoris';
                    }

                    axios.post(api, data, {})
                        .then(function (response) {

                            let star = $("#" + league.id);

                            if (league.favoris) {
                                vm.selectedCountry.leagues[index].favoris = false;
                                league.favoris = false;
                                star.text('star_border');
                            } else {
                                vm.selectedCountry.leagues[index].favoris = true;
                                league.favoris = true;
                                star.text('star');
                            }
                        })
                        .catch(function (error) {});
                } else {
                    vm.$notify({
                        group: 'notif',
                        type: 'warn',
                        title: 'Ajout Favoris',
                        text: 'Veuillez vous connecter pour ajouter une league a vous favoris',
                        duration: 10000,
                        speed: 1000
                    });
                }
            }
        }
    }

</script>
