<template>
    <div class="col-md-2 pr-md-0">
        <div class="card b-right">
            <div v-if="loading">
                <md-progress-bar md-mode="indeterminate"></md-progress-bar>
            </div>
            <div role="tablist">
                <scroll-timeline-component :loading="loading" :sports.sync="sports" :selectedTime.sync="selectedTime">
                </scroll-timeline-component>
                <b-card v-if="sport.status" no-body style="clear:both;" class="mb-1" v-for="sport in sports"
                    v-bind:data="sport" v-bind:key="sport.id">
                    <b-card-header header-tag="header" class="sport-card-header p-1" role="tab">
                        <div class="live-sports-tab-image" v-switch="sport.name">
                            <img v-if="show" v-case="'Soccer'" src="../../../assets/images/basic/Soccer-icon.png">
                            <img v-if="show" v-case="'Ice Hockey'"
                                src="../../../assets/images/basic/Ice-hockey-icon.png">
                            <img v-if="show" v-case="'Baseball'" src="../../../assets/images/basic/Baseball-icon.png">
                            <img v-if="show" v-case="'Handball'" src="../../../assets/images/basic/Handball-icon.png">
                            <img v-if="show" v-case="'Tennis'" src="../../../assets/images/basic/Tennis-icon.png">
                        </div>
                        <b-button class="sports-list-item-btn" block href="#" v-b-toggle="'container' + sport.id">
                            {{sport.name}}</b-button>
                    </b-card-header>
                    <b-collapse v-if="show" v-bind:id="'container' + sport.id" accordion="my-accordion" role="tabpanel">
                        <b-card-body
                            v-bind:class="[(sport.countries && sport.countries.length > 10) ? 'scrollbar' : '']"
                            v-bind:id="(sport.countries && sport.countries.length > 10) ? 'style-1' : ''">
                            <ul compact="hide"
                                v-bind:class="[(sport.countries && sport.countries.length > 10) ? 'force-overflow country-list' : 'contry-list']">
                                <li class="country-list-item" v-for="country in sport.countries"
                                    v-if="country.prematchs_count > 0" v-bind:key="country.id"
                                    v-on:click="updatedSelectedCountry(country)">
                                    <div class="countries-list-item-name">
                                        {{country.name}}
                                    </div>
                                    <div class="countries-list-item-count">
                                        {{country.prematchs_count}}
                                    </div>
                                </li>
                            </ul>
                        </b-card-body>
                    </b-collapse>
                </b-card>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted() {},
        props: ['selectedCountry', 'authUser'],
        data() {
            return {
                sports: [],
                loading: true,
                selectedTime: 'today',
                show: false,
                countriesAdded: false,
                callsNbr: 0
            };
        },
        created() {
            this.getSports();
        },
        watch: {
            'selectedTime': function (newTime, oldTime) {
                this.show = false;
                this.callsNbr = 0;
                this.getSports();
            },
        },
        methods: {
            getSports() {
                var vm = this;
                vm.loading = true;
                vm.page_url = '/api/v1/sports';
                axios.get(vm.page_url, {})
                    .then(function (response) {

                        vm.sports = response.data.data.data;
                        for (let index = 0; index < vm.sports.length; index++) {
                            vm.getTodaySportsUpcomingEvent(vm.sports[index].id, index);
                        }

                    })
                    .catch(function (error) {});
            },
            setUserFavoris(countries) {

                let vm = this;

                if (vm.authUser && vm.authUser.id) {

                    if (countries) {
                        for (let i = 0; i < countries.length; i++) {

                            for (let j = 0; j < vm.authUser.leagues.length; j++) {

                                let userLeague = vm.authUser.leagues[j];

                                let found = countries[i].leagues.findIndex(league => league.id ===
                                    userLeague.id);

                                if (found != -1) {
                                    countries[i].leagues[found].favoris = true;
                                }
                            }
                        }
                    }
                }
            },
            getTodaySportsUpcomingEvent(sport_id, index) {
                var vm = this;
                vm.loading = true;

                axios.get("api/v1/countries/" + vm.selectedTime + "/" + sport_id + "?paginate=0", {})
                    .then(function (response) {

                        vm.sports[index].countries = response.data.data;
                        vm.callsNbr = vm.callsNbr + 1;
                        if (sport_id == 1) {
                            for (let i = 0; i < vm.sports[index].countries.length; i++) {
                                if (vm.sports[index].countries[i].prematchs_count && vm.sports[index].countries[i]
                                    .prematchs_count > 0) {
                                    vm.$emit('update:selectedCountry', vm.sports[index].countries[i]);
                                    vm.countriesAdded = true;
                                    break;
                                }
                            }
                            if (vm.sports[index].countries.length == 0) {
                                vm.countriesAdded = true;
                            }
                            //vm.selectedCountry = vm.sports[index].countries[0];
                        }
                        vm.loading = false;

                        if (vm.countriesAdded && vm.callsNbr == vm.sports.length) {
                            vm.show = true;
                        }
                        vm.setUserFavoris(vm.sports[index].countries);

                    })
                    .catch(function (error) {});
            },
            updatedSelectedCountry(country) {
                this.$emit('update:selectedCountry', country);
            }
        }
    }

</script>
