<template>
    <div>
        <!-- call header -->
        <header-component v-if="ismounted" :user.sync="authUser"></header-component>
        <!-- end call header -->
        <!-- call body -->
        <div class="container container-with-margin mt-3">
            <div class="row">
                <div class="col-md-12">
                    <div class=" bg-white pb-3">
                        <div class="row">
                            <main-menu-component></main-menu-component>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12">
                                <article class="static-page-main-column main-column">
                                    <header class="article-header">
                                        <h1>

                                            À propos
                                        </h1>

                                    </header>

                                    <div class="content-body article-body">
                                        <p><strong>Services</strong></p>
                                        <p>Sports Interaction, le premier sportsbook et casino en ligne sous licence et
                                            réglementé au Canada, a bâtis sa réputation sur la confiance, la sécurité et
                                            un service de première qualité sur le marché des paris en ligne. Sports
                                            Interaction est le premier et unique choix pour de nombreux membres, car:
                                        </p>
                                        <ul>
                                            <li>Tous vos sports favoris sont couverts</li>
                                            <li>Nous offrons le meilleur du poker en ligne et du casino</li>
                                            <li>Les clients peuvent parier sur les courses US Thoroughbred</li>
                                            <li>Nous proposons des options de dépôt et de retrait rapides et sécurisées
                                            </li>
                                            <li>Le service client 24 heures sur 24 fait partie intégrante de
                                                l’expérience Sports Interaction</li>
                                        </ul>
                                        <p>Qu’attendez-vous&nbsp;?&nbsp;<a
                                                href="">Inscrivez-vous</a>&nbsp;aujourd’hui&nbsp;!
                                        </p>
                                        <p><strong>Confidentialité et sécurité</strong></p>
                                        <p>La confidentialité est extrêmement importante pour Sports Interaction.</p>
                                        <ul>
                                            <li>Nous ne partageons jamais les informations personnelles avec des tierces
                                                parties.</li>
                                            <li>Nous ne demandons que les informations personnelles nécessaires pour
                                                améliorer la sécurité en ligne.</li>
                                            <li>Les cookies sont utilisés sur le site pour offrir aux clients des
                                                contenus personnalisés afin d’améliorer leur expérience de Sports
                                                Interaction.</li>
                                            <li>Vous pouvez vous désabonner à tout moment des e-mails d’annonces
                                                promotionnelles.</li>
                                            <li>Toutes les informations de contact et personnelles de l’utilisateur sont
                                                sécurisées à l’aide des dernières technologies de pare-feu robustes et
                                                encryptés en SQL.</li>
                                            <li>Pour plus d’informations sur nos politiques de Confidentialité &amp;
                                                Sécurité,&nbsp;<a href="">cliquez</a>
                                                ici.</li>
                                        </ul>
                                        <p><strong>Licence</strong></p>
                                        <p>Sports Interaction est sous licence et réglementé par la Kahnawake Gaming
                                            Commission et la Jersey Gambling Commission, et exploité par&nbsp;<a
                                                href="">Mohawk Online Limited</a>. Mohawk
                                            Online est une initiative socio-économique, intégralement détenue par le
                                            Mohawk Council of Kahnawake. Kahnawake a toujours exercé son droit aborigène
                                            de mener, faciliter et réguler les activités de jeu au sein et à partir du
                                            Mohawk Territory of Kahnawake depuis 1996.&nbsp;Mohawk Online réinvestit ses
                                            profits dans la communauté locale pour assurer un meilleur avenir aux
                                            Mohawks de Kahnawake.</p>
                                        <p>&nbsp;</p>
                                    </div>
                                </article>
                            </div>
                            <!-- <div class="col-md-3 pl-md-0">
                                <selected-odds-cart-component :selectedOddsInCart="selectedOddsInCart"
                                    :teamParlay.sync="teamParlay">
                                </selected-odds-cart-component>
                            </div> -->
                        </div>
                    </div>
                </div>

            </div>
            <!-- end call body -->
        </div>
        <!-- call footer -->
        <footer-component></footer-component>
        <!-- end call footer -->
    </div>
</template>
<script>
    export default {
        mounted() {
            //initiate the authUser passed to the app
            let authUser = localStorage.getItem('user');
            this.authUser = JSON.parse(authUser);
            this.ismounted = true;

            if (localStorage.getItem('searchResults')) {
                let search = localStorage.getItem('searchResults');
                this.searchResults = JSON.parse(search);
            } else {
                this.searchResults = null
            }

            //initiate selectedOddsInCart
            if (localStorage.getItem("selectedOdds")) {
                this.selectedOddsOnLocalStorage = localStorage.getItem('selectedOdds');
                this.selectedOddsOnLocalStorage = this.selectedOddsOnLocalStorage.trim();
                this.selectedOddsOnLocalStorage = JSON.parse(this.selectedOddsOnLocalStorage);
                this.selectedOddsInCart = this.selectedOddsOnLocalStorage;
            } else {
                this.selectedOddsInCart = [];
            }
            //initiate teamParlay
            if (localStorage.getItem("teamParlay")) {
                this.teamParlayOnLocalStorage = localStorage.getItem('teamParlay');
                this.teamParlayOnLocalStorage = this.teamParlayOnLocalStorage.trim();
                this.teamParlayOnLocalStorage = JSON.parse(this.teamParlayOnLocalStorage);
                this.teamParlay = this.teamParlayOnLocalStorage;
            } else {
                this.teamParlay = [];
            }
        },
        data() {
            return {
                loading: true,
                authUser: this.authUser,
                ismounted: false,
                selectedOddsInCart: this.selectedOddsInCart,
                teamParlay: this.teamParlay
            };
        },
        methods: {}
    }

</script>
