<template>
    <div>
        <!-- call header -->
        <header-component v-if="ismounted" :user.sync="authUser"></header-component>
        <!-- end call header -->
        <!-- call body -->
        <div class="container container-with-margin mt-3">
            <div class="row">
                <div class="col-md-12">
                    <div class=" bg-white pb-3">
                        <div class="row">
                            <main-menu-component></main-menu-component>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12">
                                <article class="static-page-main-column main-column">
                                    <header class="article-header">
                                        <h1>
                                            Politique de Confidentialité
                                        </h1>
                                    </header>

                                    <div class="content-body article-body">
                                        <h2 id="privacypolicy" class="stdSectionHeading shortHeading">Politique de
                                            confidentialité</h2>
                                        <ul class="stdTextList">
                                            <li>Chez Sports Interaction, nous nous engageons à protéger votre vie
                                                privée. C'est pourquoi nous avons lourdement investi dans des systèmes
                                                de gestion d'information de premier ordre afin de conserver vos
                                                renseignements cryptés et sécurisés.</li>
                                            <li>Les renseignements que nous recueillons sont utilisés pour vous fournir
                                                la meilleure expérience de paris en ligne possible tout en atténuant
                                                toute menace à la sécurité. Nous traitons votre confidentialité avec
                                                sérieux et nous espérons que les informations suivantes vous permettront
                                                de tout savoir vos droits, les renseignements que nous collectons, la
                                                manière dont nous les utilisons et la façon de les corriger ou les
                                                modifier.</li>
                                            <li>Toute référence à "Sports Interaction" dans cette Politique de
                                                confidentialité inclut Sports Interaction et tout ou partie de ses
                                                filiales, coentreprises et sociétés apparentées pouvant exister, et ce
                                                où quelles soient situées dans le monde.</li>
                                        </ul>
                                        <h2 id="privacypolicy" class="stdSectionHeading shortHeading">Les renseignements
                                            recueillis et la façon dont nous les utilisons</h2>
                                        <h3>Renseignements d'inscription</h3>
                                        <ul class="stdTextList">
                                            <li>Lorsque vous ouvrez un compte avec nous, nous vous demandons:
                                                <ul class="stdTextList">
                                                    <li>votre nom</li>
                                                    <li>date de naissance</li>
                                                    <li>adresse</li>
                                                    <li>adresse courriel</li>
                                                    <li>certaines informations financières</li>
                                                </ul>
                                            </li>
                                            <li>Nous vous demandons votre nom et votre adresse afin que nous puissions
                                                vérifier votre identité auprès des tiers dans le cadre de nos règlements
                                                pour prévenir la fraude et le blanchiment d'argent.</li>
                                            <li>Nous vous demandons votre anniversaire pour s'assurer que vous avez
                                                l'âge légal du jeu&nbsp;; En plus d'être utilisé pour compléter votre
                                                vérification d'identité.</li>
                                            <li>Les informations financières utilisées pour traiter les dépôts et/ou les
                                                retraits sur votre compte et peuvent être vérifiées par des tiers dans
                                                le cadre de notre politique pour prévenir la fraude et le blanchiment
                                                d'argent.</li>
                                            <li>Dans le cadre de la création de votre compte, nous fournissons vos
                                                informations aux tiers autorisés afin de confirmer votre âge, votre
                                                identité et vos détails de paiement. Vous convenez et comprenez que ces
                                                vérifications peuvent être faites par des tiers autorisés à vérifier
                                                votre identité.</li>
                                        </ul>
                                        <h3>Renseignements personnels supplémentaires</h3>
                                        <ul class="stdTextList">
                                            <li>Sports Interaction peut parfois contacter directement un joueur pour
                                                obtenir plus de renseignements afin de valider une transaction en ligne
                                                ou de distribuer les gains. Ces renseignements comprennent, entre autres
                                                :
                                                <ul class="stdTextList">
                                                    <li>date de naissance</li>
                                                    <li>vérification de l'adresse</li>
                                                    <li>vérification financière.</li>
                                                </ul>
                                            </li>
                                            <li>Dans le cas d'une inscription pour laquelle nous recevons un avis
                                                voulant que le joueur ait fourni une date de naissance inexacte (lors de
                                                la création du compte) et soit d'âge mineur, nous fermerons
                                                immédiatement le compte du joueur et supprimerons ses renseignements
                                                personnels.</li>
                                            <li>Sports Interaction peut à l'occasion transférer vos données pour l'une
                                                des fins suivantes :
                                                <ul class="stdTextList">
                                                    <li>la prestation de services de paris</li>
                                                    <li>le service à la clientèle</li>
                                                    <li>l'administration des comptes clients</li>
                                                    <li>le traitement des transactions clients par votre fournisseur de
                                                        services bancaires</li>
                                                    <li>les vérifications d'identité du client et du blanchiment
                                                        d'argent</li>
                                                    <li>la gestion et la réduction des risques</li>
                                                    <li>fournir un service uniforme entre le compte du client et
                                                        d'autres services de Sports Interaction, qui comprennent entre
                                                        autres le casino en ligne, des jeux et le poker.</li>
                                                </ul>
                                            </li>
                                            <li>Sports Interaction partage les informations du client avec des tiers aux
                                                fins de la prévention de la sécurité et de la fraude, de la conduite des
                                                jeux autorisés et des mesures d'application et de réglementation. Notre
                                                intention est toujours de créer un environnement en ligne plus sûr qui
                                                améliorerait l'expérience des clients tout en protégeant leurs
                                                informations et leur confidentialité.</li>
                                        </ul>
                                        <h3>Témoins</h3>
                                        <ul class="stdTextList">
                                            <li>Nous utilisons les témoins pour déterminer quels joueurs utilisent le
                                                site, comment et quand, afin de proposer des informations pertinentes
                                                d'un point de vue régional et personnel. Les témoins sont des fichiers
                                                texte qui demeurent sur votre ordinateur. Ces témoins sont totalement
                                                sûrs et ne contiendront jamais d’informations sensibles.</li>
                                            <li>Un témoin placé par Sports Interaction est uniquement accessible par
                                                Sports Interaction et les tierces parties de confiance avec qui nous
                                                travaillons. Il contient des informations concernant le joueur, par
                                                exemple son nom ou le numéro d'identification de l'utilisateur, afin de
                                                le protéger et de limiter les risques.</li>
                                            <li>Les informations sensibles sont codées à des fins de sécurité. Aucune
                                                information n'est jamais divulguée à des tierces parties.</li>
                                            <li>Il existe deux types de témoins :
                                                <ul class="stdTextList">
                                                    <li><strong>Témoins d'origine :</strong><br>Il s'agit de témoins
                                                        définis et utilisés par Sports Interaction dans le seul but
                                                        d'exécuter des fonctions de base du site et du compte, afin
                                                        d'améliorer l'expérience de l'utilisateur.<br>Il existe deux
                                                        types de témoins d'origine.
                                                        <ul class="stdTextList">
                                                            <li>Témoins de session : ils permettent à un utilisateur de
                                                                se connecter au site. Sans eux, il n-est pas possible de
                                                                maintenir une session utilisateur en toute sécurité ni
                                                                d-utiliser le site.</li>
                                                            <li>Autres témoins : ces témoins comportent une date
                                                                d-expiration et permettent à Sports Interaction
                                                                d-activer le contenu personnalisé du site, ainsi que les
                                                                préférences de l’utilisateur.</li>
                                                        </ul>
                                                    </li>
                                                    <li><strong>Témoins tiers :</strong><br>Il s-agit de témoins
                                                        utilisés par Sports Interaction à des fins de conformité, de
                                                        sécurité et d'analyse du site. Ils sont définis par une
                                                        sélection de quelques partenaires. Ces informations sont
                                                        statistiques et anonymes. Elles ne sont pas utilisées dans le
                                                        cadre de la publicité personnalisée.</li>
                                                </ul>
                                            </li>
                                            <li>Nos témoins de sécurité limitent la fraude et nous permettent de
                                                proposer un site plus efficace et plus sûr.</li>
                                        </ul>
                                        <h3>Adresses IP</h3>
                                        <ul class="stdTextList">
                                            <li>Sports Interaction conserve les adresses IP (l’équivalent pour internet
                                                des plaques d’immatriculation des voitures) à chaque fois qu’un client
                                                effectue une action qu’il est le seul autorisé à faire. Ouvrir un
                                                compte, se connecter à un compte ou effectuer une transaction sont
                                                autant d’occasions pour Sports Interaction de conserver l’adresse IP
                                                d’un client. Les adresses IP sont conservées pour des raisons de
                                                sécurité. Si un client se connecte avec deux adresses IP différentes
                                                situées à des milliers de kilomètre de distance en l’espace de très peu
                                                de temps, cette différence d’adresse IP peut nous indiquer l’occurrence
                                                d’un évènement frauduleux, et nous permettre alors de prendre les
                                                mesures nécessaires pour conserver la sécurité du client. Comme pour
                                                toutes les données collectées par Sports Interaction, les adresses IP
                                                sont traitées avec les mêmes standards de protection et de sécurité
                                                utilisés sur le reste du site.</li>
                                        </ul>
                                        <h3>Sécurité</h3>
                                        <ul class="stdTextList">
                                            <li>Sports Interaction reconnaît l’importance de conserver les coordonnées
                                                et les renseignements de paiement du client en toute sécurité.</li>
                                            <li>Nos systèmes et processus sont vérifiés annuellement, et respectent les
                                                normes de sécurité les plus strictes de l’industrie pour éviter que les
                                                renseignements des clients ne soient compromis.</li>
                                            <li>Certaines de nos mesures comprennent :
                                                <ul class="stdTextList">
                                                    <li>Norton Secure Seal provient de Symantec, la première Autorité de
                                                        Certification mondiale concernant les certificats de cryptage.
                                                        Nous utilisons le cryptage Transport Layer Security (TLS),
                                                        successeur du Secure Socket Layer (SSL). En affichant le Norton
                                                        Secure Seal, nous assurons que toutes les transactions clients
                                                        de notre site sont cryptées aux plus haut standards de sécurité.
                                                        Symantec est l’Autorité de Certification de quarante des plus
                                                        grandes banques du monde et de 100 % des entreprises du Fortune
                                                        500.</li>
                                                    <li>Des évaluations trimestrielles indépendantes pour le respect de
                                                        la&nbsp;<strong>norme de sécurité de l’industrie des cartes de
                                                            paiement</strong>&nbsp;(<a href="" target="_blank"
                                                            rel="noopener">Norme de sécurité de
                                                            l’industrie des cartes de paiement, PCI DSS</a>), une norme
                                                        de sécurité de l’information mondiale définie par le Conseil des
                                                        normes de sécurité PCI. La norme contribue à éviter la fraude
                                                        par carte de crédit à l’aide d-un renforcement des contrôles
                                                        entourant la façon dont nous stockons et utilisons les données
                                                        des clients.</li>
                                                    <li>En utilisant seulement des systèmes de cryptographie conformes
                                                        aux&nbsp;<strong>normes fédérales de traitement de
                                                            l’information</strong>&nbsp;(<a href="" target="_blank"
                                                            rel="noopener">Federal Information
                                                            Processing Standards, FIPS</a>) pour chiffrer les données
                                                        des clients.</li>
                                                </ul>
                                            </li>
                                            <li>Sports Interaction est enregistrée sous la Loi de protection des données
                                                (Jersey) au Commissariat de l'information.</li>
                                            <li>Sports Interaction et ses partenaires de sécurité et de paiement peuvent
                                                conserver et gérer vos informations personnelles au Canada, au
                                                Royaume-Uni, aux États-Unis, à Malte et Jersey.</li>
                                        </ul>
                                        <h3>Liens</h3>
                                        <ul class="stdTextList">
                                            <li>Le site de Sports Interaction contient des liens vers un nombre limité
                                                d-autres sites. Nous ne sommes pas responsables des pratiques de
                                                confidentialité ou du contenu de ces sites Web, mais nous essayons de
                                                choisir ces références judicieusement.</li>
                                        </ul>
                                        <h3>Droit de modification de l’énoncé de confidentialité sur Internet</h3>
                                        <ul class="stdTextList">
                                            <li>Sports Interaction se réserve le droit de modifier cet énoncé de
                                                confidentialité à tout moment. Les changements seront en vigueur dès
                                                leur publication.</li>
                                        </ul>
                                        <h3>Mise à jour et modifications des renseignements</h3>
                                        <ul class="stdTextList">
                                            <li>Vous pouvez aussi mettre à jour ou modifier les renseignements que vous
                                                nous avez déjà fournis en&nbsp;<a href="">cliquant
                                                    ici</a>.</li>
                                        </ul>
                                        <h3>Renseignements de compte</h3>
                                        <ul class="stdTextList">
                                            <li>Sports Interaction respecte votre vie privée et ne transmettra aucun
                                                renseignement sur les comptes, les gains ou les pertes des membres à un
                                                organisme gouvernemental. Il est donc de votre responsabilité de
                                                signaler tout gain aux autorités compétentes, le cas échéant.</li>
                                        </ul>
                                        <h3>Information</h3>
                                        <ul class="stdTextList">
                                            <li>Vos renseignements personnels peuvent, dans les buts décrits ci-dessus,
                                                être transférés ou fournis à toute société de Sports Interaction ou
                                                tierce partie sujette à un accord approprié dans le but de traiter ces
                                                renseignements personnels pour notre compte. Sports Interaction peut, de
                                                temps à autre, demander à des tierces parties de traiter vos
                                                renseignements personnels dans les buts décrits ci-dessus. Un tel
                                                traitement sera régi par un contrat respectant les dispositions légales.
                                            </li>
                                            <li>Dans les circonstances que nous jugerons appropriées, vos renseignements
                                                personnels peuvent être divulgués à toute autorité de régulation (que ce
                                                soit à la demande de telles autorités ou autrement) ayant accordé à
                                                Sports Interaction une licence d'exploitation de jeux de hasard. En
                                                acceptant cette politique, en utilisant le site Sports Interaction ou
                                                autrement, vous acceptez que Sports Interaction conserve et utiliser des
                                                données historiques liées à vous ou à votre(vos) compte(s) aux fins
                                                énoncées dans cette politique.</li>
                                        </ul>
                                        <h3>Droit de modification de l'énoncé de confidentialité internet</h3>
                                        <ul class="stdTextList">
                                            <li>Sports Interaction se réserve le droit de modifier cet énoncé de
                                                confidentialité à tout moment, y compris sur la manière dont vos
                                                renseignements personnels sont gérés. Dans le cas où Sports Interaction
                                                estime indiqué d'effectuer une telle modification, la Politique de
                                                confidentialité sera mise à jour et postée sur notre site. Le fait de
                                                continuer d'utiliser le Site constituera l'acceptation de votre part de
                                                ces modifications. Les changements seront en vigueur dès leur
                                                publication.</li>
                                        </ul>
                                        <h3>Plaintes</h3>
                                        <ul class="stdTextList">
                                            <li>La protection de vos données personnelles est réglementée et auditée
                                                selon les règles de la Commission des jeux de hasard de Kahnawake.</li>
                                            <li>Pour obtenir une copie des règles et réglementations de la Commission
                                                traitant de la protection des joueurs et de la vie privée, veuillez vous
                                                rendre sur :&nbsp;<a href="" target="_blank" rel="noopener">ici</a>
                                            </li>
                                            <li>Pour obtenir la certification indépendante de notre conformité aux
                                                règles et réglementations de la KGC, veuillez vous rendre sur :<a
                                                    href="" target="_blank" rel="noopener">ici</a>
                                            </li>
                                            <li>En cas de réclamation concernant Sports Interaction et la
                                                confidentialité de vos données, veuillez contacter :</li>
                                            <li>Kahnawake Gaming Commission, P.O. Box 1799, Kahnawake, QC J0L 1B0,
                                                Canada<br>Tél. : 1 450 635 1076<br>Fax : 450 635 1139<br>Courriel
                                                :&nbsp;<a href="">complaints@gamingcommission.ca</a>
                                            </li>
                                        </ul>
                                        <h2 id="spampolicy" class="stdSectionHeading shortHeading">Politique sur les
                                            pourriels</h2>
                                        <h3>Politique de Sports Interaction sur les pourriels</h3>
                                        <ul class="stdTextList">
                                            <li>Tous les membres de Sports Interaction ne recevront que des courriels
                                                promotionnels de Sports Interaction s-ils ont choisi de les recevoir.
                                                Ces courriels promotionnels ne concerneront que Sports Interaction. En
                                                aucun temps, Sports Interaction ne transmettra les courriels de ses
                                                clients à des tiers. Si un client ne souhaite plus recevoir de courriels
                                                promotionnels, de nouvelles et de mises à jour, il peut se retirer à
                                                tout moment en changeant les réglages sur sa page « Mon compte ».</li>
                                        </ul>
                                        <h3>Consentement de l'usager</h3>
                                        <ul class="stdTextList">
                                            <li>En nous fournissant vos renseignements personnels, en vous enregistrant
                                                ou en vous connectant à notre site web, vous consentez explicitement à
                                                ce que Sports Interaction traite et dévoile vos renseignements
                                                personnels dans les fins indiquées dans cette politique ou dans les
                                                dispositions décrites dans les Conditions d'utilisation. Si vous
                                                souhaitez qualifier, changer, modifier ou limiter votre consentement
                                                concernant les communications marketing, ou dans les circonstances où le
                                                traitement de vos données est susceptible de causer des torts ou
                                                préjudices, ou bien dans toute autre circonstance prévue par la loi,
                                                vous pouvez le faire en vous référant à la section « Retrait » de notre
                                                Politique de confidentialité. Les communications téléphoniques et les
                                                données de paris relatives aux usagers seront enregistrées et peuvent
                                                être surveillées activement dans les fins consenties par tous les
                                                usagers par le présent document.</li>
                                        </ul>
                                        <h3>Désabonnement</h3>
                                        <ul class="stdTextList">
                                            <li>Vous pouvez vous désabonner des annonces courriel en tout temps. Pour
                                                vous désabonner de l’infolettre hebdomadaire ou de tout dépliant
                                                publicitaire envoyé par la poste, il suffit d-ouvrir une session dans
                                                votre compte, de modifier vos préférences personnelles sous la rubrique
                                                « Options personnelles », ou encore de nous&nbsp;<a href=""
                                                    target="_blank" rel="noopener">contacter</a>directement.</li>
                                            <li>Notre site fournit aussi aux utilisateurs la possibilité de se retirer
                                                de la liste d-envoi de communications lors de l’inscription. Toutefois,
                                                si à tout moment vous ne souhaitez plus recevoir nos communications, il
                                                suffit de nous contacter par « Options personnelles » sous « Mon compte
                                                », ou de contacter notre service à la clientèle&nbsp;<a href=""
                                                    target="_blank" rel="noopener">ici</a>.</li>
                                        </ul>
                                        <h2 id="contact" class="stdSectionHeading shortHeading">Contact</h2>
                                        <ul class="stdTextList">
                                            <li>Si vous avez des questions concernant notre politique de confidentialité
                                                ou la collecte, l'utilisation, la divulgation ou la rétention de données
                                                personnelles par Sports Interaction ou ses prestataires de services,
                                                veuillez contacter notre service Sécurité :<br><br>Sports
                                                Interaction<br>Attention : Responsable de la sécurité<br>Adresse : 2006
                                                Old Malone Road, P.O. Box 1539, Kahnawake, QC, J0L
                                                1B0<br>Courriel:&nbsp;<a href="" target="_blank" rel="noopener">cliquez
                                                    ici</a><br>Numéro sans frais
                                                : 1 888 922 5575 Tél. : +1 450 635 5575</li>
                                        </ul>
                                    </div>
                                </article>
                            </div>
                            <!-- <div class="col-md-3 pl-md-0">
                                <selected-odds-cart-component :selectedOddsInCart="selectedOddsInCart"
                                    :teamParlay.sync="teamParlay">
                                </selected-odds-cart-component>
                            </div> -->
                        </div>
                    </div>
                </div>

            </div>
            <!-- end call body -->
        </div>
        <!-- call footer -->
        <footer-component></footer-component>
        <!-- end call footer -->
    </div>
</template>
<script>
    export default {
        mounted() {
            //initiate the authUser passed to the app
            let authUser = localStorage.getItem('user');
            this.authUser = JSON.parse(authUser);
            this.ismounted = true;

            if (localStorage.getItem('searchResults')) {
                let search = localStorage.getItem('searchResults');
                this.searchResults = JSON.parse(search);
            } else {
                this.searchResults = null
            }

            //initiate selectedOddsInCart
            if (localStorage.getItem("selectedOdds")) {
                this.selectedOddsOnLocalStorage = localStorage.getItem('selectedOdds');
                this.selectedOddsOnLocalStorage = this.selectedOddsOnLocalStorage.trim();
                this.selectedOddsOnLocalStorage = JSON.parse(this.selectedOddsOnLocalStorage);
                this.selectedOddsInCart = this.selectedOddsOnLocalStorage;
            } else {
                this.selectedOddsInCart = [];
            }
            //initiate teamParlay
            if (localStorage.getItem("teamParlay")) {
                this.teamParlayOnLocalStorage = localStorage.getItem('teamParlay');
                this.teamParlayOnLocalStorage = this.teamParlayOnLocalStorage.trim();
                this.teamParlayOnLocalStorage = JSON.parse(this.teamParlayOnLocalStorage);
                this.teamParlay = this.teamParlayOnLocalStorage;
            } else {
                this.teamParlay = [];
            }
        },
        data() {
            return {
                loading: true,
                authUser: this.authUser,
                ismounted: false,
                selectedOddsInCart: this.selectedOddsInCart,
                teamParlay: this.teamParlay
            };
        },
        methods: {}
    }

</script>
