<template>
    <div>
        <!-- call header -->
        <header-component v-if="ismounted" :user.sync="authUser"></header-component>
        <!-- end call header -->
        <!-- call body -->
        <div class="container container-with-margin mt-3">
            <div class="row">
                <div class="col-md-12">
                    <div class=" bg-white pb-3">
                        <div class="row">
                            <main-menu-component></main-menu-component>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12">
                                <article class="static-page-main-column main-column">
                                    <header class="article-header">
                                        <h1>

                                            Jeu responsable, Auto limitation &amp; Auto exclusion
                                        </h1>
                                    </header>

                                    <div class="content-body article-body">
                                        <p>Sports Interaction s’engage à commercialiser ses produits à des adultes
                                            responsables et prend des mesures pour s’assurer que les joueurs se
                                            comportent de manière responsable. Les joueurs qui pensent que le jeu occupe
                                            une part trop importante dans leur vie peuvent demander à être retirés des
                                            listes de diffusion promotionnelles ou de voir leur compte supprimé
                                            indéfiniment.&nbsp;</p>
                                        <p>Informations sur le jeu responsable</p>
                                        <p>Pour connaître en détail notre politique de jeu responsable, cliquez <a
                                                href="">ici</a>.
                                            Vous trouverez des réponses aux questions les plus communes
                                            ci-dessous.&nbsp;</p>
                                        <p>Autolimitation</p>
                                        <p><strong>LIMITE DE ZÉRO</strong></p>
                                        <p>Vous pouvez choisir de placer une limite temporaire de zéro sur vos paris.
                                            Durant la période de temps choisie (six mois minimum), vous serez supprimé
                                            des listes de diffusion promotionnelles et empêché de placer des paris.</p>
                                        <p><strong>LIMITE RÉDUITE</strong></p>
                                        <p>Nos agents de l'Assistance Client peuvent vous aider à fixer des limites au
                                            montant et à la fréquence de vos dépôts. Ces limites peuvent être fixées
                                            pour 24 heures, 7 jours ou 1 mois.</p>
                                        <p><strong>COMPTE FERMÉ VOLONTAIREMENT</strong></p>
                                        <p>Vous pouvez également suspendre temporairement votre compte. Durant la
                                            période de temps choisie, vous serez supprimé des listes de diffusion
                                            promotionnelles et empêché d'accéder à vos comptes.</p>
                                        <p>Délai de réflexion&nbsp;:</p>
                                        <p>Bien que ces changements soient réversibles, nous appliquons des délais de
                                            réflexion allant de vingt-quatre (24) heures à six (6) mois. Suite à ces
                                            périodes de réflexion, vous pourrez contacter notre équipe pour confirmer
                                            que vous êtes prêt à lever les restrictions appliquées à vos paris.</p>
                                        <p>Auto exclusion:</p>
                                        <p>Si vous avez un problème de jeu, ou bien que votre famille ou vos amis sont
                                            inquiets, nous vous conseillons de discuter immédiatement avec nous d'une
                                            exclusion définitive de nos services. Notre équipe d'assistance vous mettra
                                            en contact avec la&nbsp;<a href="">Kahnawake
                                                Gaming Commission</a>&nbsp;(La Commission), indiquée ci-dessous. La
                                            Commission travaillera avec Sports Interaction afin de s'assurer que vous
                                            êtes exclu définitivement de l'accès à vos comptes, ainsi qu'à l'ouverture
                                            d'un nouveau compte.</p>
                                        <p>Vos coordonnées sont inscrites dans notre base de données afin de nous
                                            assurer que les gestionnaires ferment bien tous les comptes existants et
                                            bloquent toute future tentative d'ouvrir de nouveaux comptes. Ne vous
                                            inquiétez pas, si vous choisissez de vous exclure de Sports Interaction,
                                            votre solde vous sera remboursé dans le respect de nos procédures de retrait
                                            habituelles.</p>
                                        <p>Les clients auto-exclus seront supprimés définitivement des listes de
                                            diffusion promotionnelles.</p>
                                        <p>Les autoexclusions s'appliquent à tous les gestionnaires habilités par la
                                            Commission. La décision ne peut être inversée par un gestionnaire.</p>
                                        <p>Contactez la KGC&nbsp;<a href="">ici</a>.
                                            Coordonnées complètes:&nbsp;Kahnawake Gaming Commission, P.O. Box 1799 Old
                                            Malone Highway, Kahnawake Mohawk Territory, QC J0L 1B0, CANADA.</p>
                                        <p><a href="">Clique
                                                ici</a>&nbsp;pour en savoir plus sur le jeu responsable.</p>
                                        <p>&nbsp;</p>
                                    </div>
                                </article>
                            </div>
                            <!-- <div class="col-md-3 pl-md-0">
                                <selected-odds-cart-component :selectedOddsInCart="selectedOddsInCart"
                                    :teamParlay.sync="teamParlay">
                                </selected-odds-cart-component>
                            </div> -->
                        </div>
                    </div>
                </div>

            </div>
            <!-- end call body -->
        </div>
        <!-- call footer -->
        <footer-component></footer-component>
        <!-- end call footer -->
    </div>
</template>
<script>
    export default {
        mounted() {
            //initiate the authUser passed to the app
            let authUser = localStorage.getItem('user');
            this.authUser = JSON.parse(authUser);
            this.ismounted = true;

            if (localStorage.getItem('searchResults')) {
                let search = localStorage.getItem('searchResults');
                this.searchResults = JSON.parse(search);
            } else {
                this.searchResults = null
            }

            //initiate selectedOddsInCart
            if (localStorage.getItem("selectedOdds")) {
                this.selectedOddsOnLocalStorage = localStorage.getItem('selectedOdds');
                this.selectedOddsOnLocalStorage = this.selectedOddsOnLocalStorage.trim();
                this.selectedOddsOnLocalStorage = JSON.parse(this.selectedOddsOnLocalStorage);
                this.selectedOddsInCart = this.selectedOddsOnLocalStorage;
            } else {
                this.selectedOddsInCart = [];
            }
            //initiate teamParlay
            if (localStorage.getItem("teamParlay")) {
                this.teamParlayOnLocalStorage = localStorage.getItem('teamParlay');
                this.teamParlayOnLocalStorage = this.teamParlayOnLocalStorage.trim();
                this.teamParlayOnLocalStorage = JSON.parse(this.teamParlayOnLocalStorage);
                this.teamParlay = this.teamParlayOnLocalStorage;
            } else {
                this.teamParlay = [];
            }
        },
        data() {
            return {
                loading: true,
                authUser: this.authUser,
                ismounted: false,
                selectedOddsInCart: this.selectedOddsInCart,
                teamParlay: this.teamParlay
            };
        },
        methods: {}
    }

</script>
